.floater {
  @extend .text-center, .d-flex, .flex-column, .align-items-center, .justify-content-around;
  position: fixed;
  right: 0;
  top: 0;
  margin-top: 70px;
  width: 60px;
  height: 120px;
  background-color: $orange;
  padding-top: 30px;
  z-index: 30;

  @include media-breakpoint-down(md) {
    transform: scale(.8);

    &:not(&--absolute) {
      display: none !important;
    }
  }

  @include media-breakpoint-down(sm) {
    transform-origin: top right;
  }

  &--absolute {
    position: absolute;
    top: unset;
    bottom: 0;
    left: unset;
    right: 0;
    transform: scale(.8);
    transform-origin: bottom right;
    z-index: 14;

    .floater__info {
      transform: translate(-80%, -50%);
      opacity: 0;
      transition: all .5s;
    }
    .floater__opener .icon {
      width: 100%;
    }

    .floater__opener:hover .floater__info {
      opacity: 1;
    }
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color: $orange-dark transparent transparent transparent;
  }

  &__opener {
    width: 100%;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &:hover .floater__info {
      transform: translate(-100%, -50%);
      opacity: 1;
      pointer-events: all;
    }
  }

  &__info {
    position: absolute;
    white-space: nowrap;
    top: 50%;
    left: 0;
    background-color: $orange;
    padding: 11px 10px;
    transform: translate(-80%, -50%);
    transition: all .5s;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
  }
}