{% if phone is not defined %}
    {% set phone = '+555 555-555' %}
{% endif %}

{% if email is not defined %}
    {% set email = 'email@test.com' %}
{% endif %}

{% set floaterClass = '' %}
{% if (absolute is defined and absolute == true) %}
    {% set floaterClass = 'floater--absolute' %}
{% endif %}

<div class="floater {{ floaterClass }} text-white">
    <div class="floater__opener">
        {% include '../svg-icon/icon.twig' with {icon: 'phone', size: 24} %}
        <div class="floater__info">{{ phone }}</div>
    </div>
    <div class="floater__opener">
        {% include '../svg-icon/icon.twig' with {icon: 'email', size: 24} %}
        <div class="floater__info">{{ email }}</div>
    </div>
</div>