.grey-box {
  &__headline {
    padding: $spacer * 2;
    width: 100%;

    @include media-breakpoint-up(sm) {
      padding: 2rem 4rem;
    }

    @include media-breakpoint-up(lg) {
      width: 66.666%;
      padding: 5rem 0 0 15%;
    }
  }

  &__image {
    @extend .text-left, .text-sm-right;
  }

  &__image img {
    @extend .img-fluid;
    max-width: 100%;

    @include media-breakpoint-up(sm) {
      max-width: 300px;
    }
  }

  &__text {
    @extend .p-15p, .mt-2, .mt-lg-5;

    padding-left: $spacer * 2;
    padding-right: $spacer * 2;
  }

  &__link {
    @extend .btn, .position-relative;
  }
}