{% if img is not defined %}
    {% set img = './img/branding_markenstrategie.png' %}
{% endif %}

<div class="grey-box">
    <div class="grey-box__headline bg-black-on-white">
        {% block headline %}
            <h1 class="text-white line-behind">
                MARKEN<br>
                STRATEGIE</h1>
        {% endblock %}
        <div class="grey-box__image">
            <img src="{{ img }}">
        </div>
    </div>

    <div class="grey-box__text">
        {% block text %}
            <p class="font-weight-bold text-36 text-black">
                Wir explorieren die Identität des Unternehmens oder Produktes.<br>
                Und positionieren sie sauber im Wettbewerbsumfeld.
            </p>
        {% endblock %}
        <div class="my-2 my-lg-5">

            <div id="collapseExample" class="collapse pb-4">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                <br />
            </div>

            <a data-toggle="collapse" href="#collapseExample" class="grey-box__link bg-light-orange text-white font-weight-600 btn--triangle-forward"><span class="triangle"></span>WEITERLESEN</a>


        </div>
    </div>
</div>
