/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/montserrat-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../assets/fonts/montserrat-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/montserrat-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/montserrat-v15-latin-300.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/montserrat-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/montserrat-v15-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../assets/fonts/montserrat-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/montserrat-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/montserrat-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/montserrat-v15-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/montserrat-v15-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../assets/fonts/montserrat-v15-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/montserrat-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/montserrat-v15-latin-italic.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/montserrat-v15-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/montserrat-v15-latin-italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/montserrat-v15-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../assets/fonts/montserrat-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/montserrat-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/montserrat-v15-latin-500.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/montserrat-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/montserrat-v15-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/montserrat-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../assets/fonts/montserrat-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/montserrat-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/montserrat-v15-latin-600.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/montserrat-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/montserrat-v15-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/montserrat-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../assets/fonts/montserrat-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/montserrat-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/montserrat-v15-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/montserrat-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/montserrat-v15-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url('../assets/fonts/montserrat-v15-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../assets/fonts/montserrat-v15-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/montserrat-v15-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/montserrat-v15-latin-700italic.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/montserrat-v15-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/montserrat-v15-latin-700italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/montserrat-v15-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../assets/fonts/montserrat-v15-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/montserrat-v15-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/montserrat-v15-latin-800.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/montserrat-v15-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/montserrat-v15-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}
body {
  font-family: "Montserrat", sans-serif;
  color: $black;

  -ms-word-break: break-word;
  word-break: break-word;

  overflow-x: hidden;
}
p {
  @include unitize(font-size, 26 * $scale_down);
  @include unitize(line-height, 20);

  @include media-breakpoint-up(md) {
    @include unitize(font-size, 28 * $scale_down);
    @include unitize(line-height, 28);
  }

  @include media-breakpoint-up(xl) {
    @include unitize(font-size, 30 * $scale_down);
    @include unitize(line-height, 30);
  }
}
.font-weight-800 {
  font-weight: 800;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-500 {
  font-weight: 500;
}

.line-height-1 {
  line-height: 1;
}
.line-height-62 {
  @include unitize(line-height, 48 * $scale_down);

  @include media-breakpoint-up(xl) {
    @include unitize(line-height, 62 * $scale_down);
  }
}
.line-height-72 {
  @include unitize(line-height, 56 * .8);

  @include media-breakpoint-up(xl) {
    @include unitize(line-height, 72 * .8);
  }
}
.line-behind:after {
  content: '_';
}

.clear-line-behind:after {
  content: '';
  display: none;
}

.px-lg-15px {
  @include media-breakpoint-up(lg) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.logo {
  word-break: keep-all;

  &--homepage {
    @include media-breakpoint-down(md) {
      display: block !important;
      position: absolute;
      top: 18px;
      left: 18px;
    }

    @include unitize(font-size, 24);

    @include media-breakpoint-up(lg) {
      @include unitize(font-size, 48);
    }

    @include media-breakpoint-up(xl) {
      @include unitize(font-size, 64);
    }
  }

  a:after {
    display: none;
  }

  &__svg {
    max-width: 80%;
  }
}
.ofc-w-h {
  @include object-fit();
}
.space-top {
  margin-top: 15px;

  @include media-breakpoint-up(lg) {
    margin-top: 3rem;
  }

  @include media-breakpoint-up(xl) {
    margin-top: 6rem;
  }
}
.btn {
  border-radius: 0;
  padding: 5px 30px;
  letter-spacing: 1px;

  &--triangle-back {
    padding-left: 50px;

    .triangle {
      left: 0;
      right: unset;
      width: 30px;
      transform: scale(1);
    }
  }

  &--triangle-forward {
    padding-right: 50px;

    .triangle {
      right: 0;
      left: unset;
      width: 30px;
      transform: scale(-1);
    }
  }
}
.container--wider {
  @include media-breakpoint-up(lg) {
    > .row {
      padding-left: calc(25% + 15px);
      // padding-right: calc((200% - #{map-get($container-max-widths, 'xl')}) / 2 + 30px);
    }
  }
  @include media-breakpoint-up(xl) {
    > .row {
      padding-right: calc((150% - #{map-get($container-max-widths, 'xl')}) / 2 + 30px);
    }
  }
  @include media-breakpoint-up(xxl) {
    > .row {
      padding-right: calc((115% - #{map-get($container-max-widths, 'xl')}) / 2 + 30px);
    }
  }
}
.mb-30px {
  margin-bottom: 15px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 30px;
  }
}
.swiper-container {
  height: 100%;
}
.swiper-parent {
  @include media-breakpoint-down(xl) {
    padding-left: 5%;
    padding-right: 5%;
  }
  @include media-breakpoint-down(lg) {
    padding-left: 10%;
    padding-right: 10%;
  }
  @include media-breakpoint-down(md) {
    padding-left: 0;
    padding-right: 0;
  }
}
.swiper-button-next,
.swiper-button-prev {
  display: none;
  width: 100px;
  height: 100px;
  outline: none;
  top: calc(50% - var(--swiper-navigation-size) / 2 - 5px);

  &.swiper-button-disabled {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    display: flex;
  }

  .icon {
    transform: translateY(0) !important;
  }
}
.swiper-button-next {
  transform: translateX(105%) scale(1.25);

  @include media-breakpoint-down(xl) {
    transform: translateX(50%) scale(1.25);
  }

  @include media-breakpoint-down(lg) {
    transform: translateX(0) scale(1.15);
  }

  &.swiper-button--inside {
    transform: scale(1.5);
  }
}
.swiper-button-prev {
  transform: translateX(-105%) scale(-1.25);

  @include media-breakpoint-down(xl) {
    transform: translateX(-50%) scale(-1.25);
  }

  @include media-breakpoint-down(lg) {
    transform: translateX(0) scale(-1.15);
  }

  &.swiper-button--inside {
    transform: scale(-1.5);
  }
}
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
.filter-darken {
  -webkit-filter: brightness(0); /* Safari 6.0 - 9.0 */
  filter: brightness(0);
}
.triangle {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  overflow: hidden;
  transform: scale(-1);

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translate(50%, -50%) rotate(45deg) scale(.9);
    background: #ba590f;
    padding-top: 100%;
  }
}
.row {
  &--pad-right {
    position: relative;
    z-index: 15;
    width: 100%;
    padding: 15px;

    @include media-breakpoint-up(lg) {
      width: 66.666%;
      padding: 5rem 5rem 5rem 15%;
    }

    padding-top: 0;
  }
}
.topleft-span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $grey-light;
  padding: 10px 15px;
  font-weight: 600;
}
.anchor-scroll {
  .icon {
    transform: rotate(90deg);
  }
}
.inner-left-container {
  position: relative;
  z-index: 2;
  padding-left: 15px;

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 5rem;
    left: 17%;
  }
}
.inner-right-box-1 {
  position: relative;
  top: 0;
  left: 0;
  padding-left: 15px;
  right: unset;
  z-index: 2;

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 30%;
    right: 15%;
    left: unset;
    padding-left: 0;
  }
}
.inner-right-box-2 {
  position: relative;
  top: 0;
  left: 0;
  padding-left: 15px;
  right: unset;
  z-index: 2;

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: unset;
    bottom: 30%;
    right: unset;
    left: 12%;
  }
}
.inner-right-box-3 {
  position: relative;
  top: 0;
  left: 0;
  padding-left: 15px;
  right: unset;
  z-index: 2;

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: unset;
    bottom: 30%;
    left: unset;
    right: 15%;
  }
}
.logo-max-height {
  max-height: 160px;
}
.image-in-text {
  @include media-breakpoint-up(lg) {
    max-width: 50%;
  }
}
.orange-box {
  position: relative;
  padding: 10px 100px 10px 20px;
  overflow: hidden;

  &__icon {
    position: absolute;
    right: 40px;
    bottom: 0;
  }

  .triangle {
    right: 30px;
    top: -9px;
    transform: rotate(-90deg);
  }
}
.p-15p {
  @include media-breakpoint-up(lg) {
    padding-left: 15%;
    padding-right: 15%;
  }
}
.mt-30px {
  margin-top: 15px;

  @include media-breakpoint-up(lg) {
    margin-top: 30px;
  }
}
.py-5rem {
  padding-top: 15px;
  padding-bottom: 15px;

  @include media-breakpoint-up(lg) {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
}
.contact-btn {
  padding-top: 15px;

  @include media-breakpoint-up(lg) {
    padding-top: 3rem;
  }
}
.mm-ocd__content {
  @include gradient-x($blue-darker, $blue-dark);

  a {
    color: $white;
    @extend .font-weight-bold;
    @extend .line-behind;
  }
}
#mobile-menu {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 15px;
  max-height: 100vh;
  @extend .bg-darker-blue;
}
#mobile-menu ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
.mobile-menu-btn {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 50;

  @include media-breakpoint-up(md) {
    top: 20px;
  }
}
.mm-spn li:before,
.mm-spn.mm-spn--navbar:before {
  color: $white;
}
.page-home {
  .navigation__right-image {
    padding-left: 0 !important;
  }

  .navigation__right-image {
    padding-top: 100%;
    height: 0;

    .swiper-parent {
      @extend .position-absolute;
      top: 0;
    }
  }
}
.rmt-mobile {
  @include media-breakpoint-down(md) {
    margin-top: 0 !important;
  }
}
#kontakt-section-1 .col-form-label {
  @include media-breakpoint-only(lg) {
    padding: 0;
  }
  white-space: nowrap;
}
.form-group {
  @include media-breakpoint-down(xs) {
    margin-bottom: 0;
  }
}
.form-group--h-100 {
  @include media-breakpoint-up(lg) {
    height: 100%;
  }
  @include media-breakpoint-only(md) {
    margin-bottom: 0;
  }
}
.home-section-6 .swiper-slide > img {
  max-width: 50%;
  @include media-breakpoint-up(lg) {
    padding: 15px;
  }
}
.footer {
  background-color: #8e979f;
  padding-left: 15px;

  @include media-breakpoint-up(lg) {
    padding-left: calc((100% - 1600px) / 2 + 60px);
  }

  a:hover {
    text-decoration: none;
  }
}
.container {
  &--narrow {
    @include media-breakpoint-up(xl) {
      // max-width: 1100px;
    }
    @include media-breakpoint-up(xxl) {
      max-width: map-get($container-max-widths, 'xl');
    }
    @media (min-width: map-get($container-max-widths, 'xl')) {
      max-width: 1440px;
    }
  }
}
