{% if title is not defined %}
    {% set title = 'Freudenberg Sealing Technologies' %}
{% endif %}

{% if img is not defined %}
    {% set img = './img/GettyImages-181828112.jpg' %}
{% endif %}

{% if link is not defined %}
    {% set link = 'referenzen-details.html' %}
{% endif %}

<a href="{{ link }}">
    <div class="reference-box {{ colorClass }}">
        <div class="reference-box__inner">
            <div class="reference-box__img">
                <img class="img-fluid" src="{{ img }}" alt="">
            </div>
            <div class="reference-box__title text-white text-uppercase font-weight-800 text-48-scale line-height-1">
                {{ title }}
            </div>
        </div>
    </div>
</a>