.reference-box {
  position: relative;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  &__inner {
    padding-top: 20px;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__title {
    word-break: break-word;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 800;
    font-size: 1.35rem;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    > img {
      @include object-fit();
      border: 1px solid grey;
    }
  }
}
