.image-text {
  &__image,
  &__text {
    @include media-breakpoint-down(sm) {
      width: 100% !important;
    }
  }

  &__image {
    @extend .w-50;
  }

  &__text {
  @extend .w-50, .mt-3, .mt-lg-0, .p-0, .p-md-3, .d-flex, .flex-column, .justify-content-center;

    > :last-child {
      margin-bottom: 0 !important;
    }
  }
}