{% if img is not defined %}
    {% set img = './img/photo-1595124245030-41448b199d6d.jpeg' %}
{% endif %}

<div class="image-text d-flex flex-wrap">
    <div class="image-text__image">
        <img class="img-fluid ofc-w-h" src="{{ img }}" alt="">
    </div>
    <div class="image-text__text">
        {% block text %}
            <p class="text-36">
                Das Wort, das das Wesen ihrer<br>
                Marke zusammenfasst.
            </p>
        {% endblock %}
    </div>
</div>