<div class="wem-responsive-helper">
    <span class="none">Nic</span>
    <span class="sm">media-breakpoint-up(sm)</span>
    <span class="hd">media-breakpoint-up(hd)</span>
    <span class="md">media-breakpoint-up(md)</span>
    <span class="lg">media-breakpoint-up(lg)</span>
    <span class="xl">media-breakpoint-up(xl)</span>
    <span class="xxl">media-breakpoint-up(xxl)</span>
</div>