.wem-responsive-helper{
  position: fixed;
  bottom: 36px;
  right: 0;
  background: #ffcf00;
  color: #000;
  height: 20px;
  z-index: 10000;
  .none,
  .sm,
  .hd,
  .md,
  .lg,
  .xl,
  .xxl {
    display: none;
  }
  .none{
    display: inherit;
  }
}

@include media-breakpoint-up(sm) {
  .wem-responsive-helper {
    .none,
    .sm,
    .hd,
    .md,
    .lg,
    .xl,
    .xxl  {
      display: none;
    }

    .sm {
      display: inherit;
    }
  }
}
@include media-breakpoint-up(hd) {
  .wem-responsive-helper {
    .none,
    .sm,
    .hd,
    .md,
    .lg,
    .xl,
    .xxl  {
      display: none;
    }

    .hd {
      display: inherit;
    }
  }
}
@include media-breakpoint-up(md) {
  .wem-responsive-helper {
    .none,
    .sm,
    .hd,
    .md,
    .lg,
    .xl,
    .xxl  {
      display: none;
    }

    .md {
      display: inherit;
    }
  }
}
@include media-breakpoint-up(lg) {
  .wem-responsive-helper {
    .none,
    .sm,
    .hd,
    .md,
    .lg,
    .xl,
    .xxl  {
      display: none;
    }

    .lg {
      display: inherit;
    }
  }
}
@include media-breakpoint-up(xl) {
  .wem-responsive-helper {
    .none,
    .sm,
    .hd,
    .md,
    .lg,
    .xl,
    .xxl  {
      display: none;
    }

    .xl {
      display: inherit;
    }
  }
}

@include media-breakpoint-up(xxl) {
  .wem-responsive-helper {
    .none,
    .sm,
    .hd,
    .md,
    .lg,
    .xl,
    .xxl  {
      display: none;
    }

    .xxl {
      display: inherit;
    }
  }
}
