.video-poster {
  &__clip {
    max-width: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  .video-container {
    overflow: hidden;
    height: 0;
    padding-top: 56.25%;
    position: relative;

    iframe {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
}