{% if img is not defined %}
    {% set img = './img/DSC_2314_sRGB.jpg' %}
{% endif %}

{% if noBtn is defined %}
    {% set noBtn = true %}
{% else %}
    {% set noBtn = false %}
{% endif %}

{% if multiplyColor is not defined %}
    {% set multiplyColor = 'kontakt__container--dark-blue' %}
{% else %}
    {% set multiplyColor = 'kontakt__container--' ~ multiplyColor %}
{% endif %}

<div class="kontakt">
    <div class="kontakt__container {{ multiplyColor }}">
        <img class="kontakt__img ofc-w-h" src="{{ img }}" alt="Kontakt">
        <div class="kontakt__inner">
            <a href="interview.html" class="kontakt__orange-box more-skewed bg-light-orange font-weight-600 text-36 {{ noBtn ? 'invisible' : '' }}">
                {% if noBtn == false %}
                    SCHLIESSKE BRANDING –<br>
                    DAS INTERVIEW
                {% endif %}
            </a>
            {% block name %}
                <div class="kontakt__transparent-box text-36">
                    Thomas Schliesske
                </div>
            {% endblock %}
        </div>
    </div>
    {% block below %}
        <div class="kontakt__below-box bg-dark-blue">
            <div class="kontakt__title text-72 m-0">GESCHÄFTSFÜHRER<br>UND INHABER</div>
            <div class="mt-2 mt-lg-4">
                <span>{% include '../svg-icon/icon.twig' with {icon: 'phone', size: 32} %}</span>
                <span class="text-30 ml-2">089/89 55 66-12</span>
            </div>
            <div class="mt-2 mt-lg-3">
                <span>{% include '../svg-icon/icon.twig' with {icon: 'email', size: 32} %}</span>
                <span class="text-30 ml-2">schliesske@schliesske.de</span>
            </div>
            <div class="mt-2 mt-lg-3">
                <span>{% include '../svg-icon/icon.twig' with {icon: 'linkedin', size: 32} %}</span>
                <span class="ml-2">{% include '../svg-icon/icon.twig' with {icon: 'xing', size: 32} %}</span>
            </div>
        </div>
    {% endblock %}
</div>
