.kontakt {
  &__container {
    @extend .position-relative, .d-flex, .align-items-stretch;

    min-height: 65vh;
    max-height: 100vh;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      height: 54px;
      width: 100%;
      mix-blend-mode: multiply;
      @include background-opacity($blue-darker, .7);
      z-index: 2;

      @include media-breakpoint-up(md) {
        height: 72px;
        width: 55%;
      }

      @include media-breakpoint-up(lg) {
        width: 45%;
      }

      @include media-breakpoint-up(xl) {
        width: 40%;
      }
    }

    &--magenta:after {
      @include background-opacity($magenta, .7);
    }
    &--orange:after {
      @include background-opacity($orange-light, .7);
    }
    &--light-blue:after {
      @include background-opacity($blue-light, .7);
    }
    &--blue:after {
      @include background-opacity($blue, .7);
    }
    &--dark-blue:after {
      @include background-opacity($blue-dark, .7);
    }
    &--brown:after {
      @include background-opacity($brown, .7);
    }
    &--yellow:after {
      @include background-opacity($yellow, .7);
    }
    &--green:after {
      @include background-opacity($green-light, .7);
    }
  }
  &__title {
    font-weight: 800;
    line-height: 1.1;
  }

  @each $breakpoint in map-keys($text-scaling) {
    @include media-breakpoint-up($breakpoint) {
      $scaling: map-get($text-scaling, $breakpoint);
      .kontakt__title {
        font-size: 2rem * $scaling;

      }
    }
  }

  &__img {
    @extend .img-fluid, .position-absolute;
    z-index: 2;
  }

  &__inner {
    @extend .position-relative, .d-flex, .flex-column, .flex-lg-row, .justify-content-lg-between, .align-items-end, .flex-grow-1, .mt-auto;

    z-index: 3;
  }

  &__orange-box {
    @extend .align-self-start, .text-uppercase;
    margin-left: 0;
    padding: 10px 20px 10px 15px;
    position: relative;
    color: $white;
    line-height: 1;
    background: $orange;
    border: 1px solid $orange;
    display:inline-block;

    &:after, &:before {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      transition:0.4s;
    }

    &:after {
      border-color: rgba(128, 128, 128, 0);
      border-left-color: $orange;
      border-width: 27px;
      margin-top: -27px;
    }
    &:before {
      border-color: rgba(255, 255, 255, 0);
      border-left-color: $orange;
      border-width: 27px;
      margin-top: -27px;
      margin-left: 0;
    }
    &:hover{
      color:#000;
      background:$orange;
    }
    &:hover:after{
      border-left-color: $orange;
    }

    @include media-breakpoint-up(lg) {
      margin-left: 3%;
      padding: 10px 30px 10px 30px;
    }
  }

  &__transparent-box {
    width: 100%;
    padding: 15px 15px;
    background-color: transparent;
    white-space: nowrap;
    color: $white;
    font-size: 16px;

    @include media-breakpoint-up(md) {
      width: 55%;
      padding: 20px 40px;
    }

    @include media-breakpoint-up(lg) {
      width: 45%;
    }

    @include media-breakpoint-up(xl) {
      width: 40%;
    }
  }

  &__below-box {
    margin-left: auto;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 30px 15px;
    color: $white;
    @include media-breakpoint-up(md) {
      width: 55%;
      padding: 20px 40px;
    }
    @include media-breakpoint-up(lg) {
      width: 45%;
    }
    @include media-breakpoint-up(xl) {
      width: 40%;
    }
  }

  &--font-mobile-fix {
    @include media-breakpoint-down(sm) {
      font-size: .9rem !important;
    }
  }
}
