.news-box {
  &__inner {
    max-width: 100%;
  }

  &__title {

  }

  &__img {
    position: relative;

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    > img {
      position: absolute;
      top: 0;
      left: 0;
      @include object-fit();
    }
  }
}