{% if date is not defined %}
    {% set date = '10_2020' %}
{% endif %}

{% if title is not defined %}
    {% set title = 'SHP Steriltechnik' %}
{% endif %}

{% if img is not defined %}
    {% set img = './img/photo-1555617766-c94804975da3.jpeg' %}
{% endif %}

{% if link is not defined %}
    {% set link = 'news-details.html' %}
{% endif %}

<a href="{{ link }}">
    <div class="news-box {{ colorClass }}">
        <div class="news-box__inner">
            <div class="news-box__img">
                <img class="img-fluid" src="{{ img }}" alt="">
            </div>
            <div class="news-box__title py-2 py-lg-3">
                <span class="text-36 line-height-1 text-dark-blue font-weight-light">{{ date }}</span><span class="text-36 text-darker-blue font-weight-500">&nbsp;|&nbsp;{{ title }}</span>
            </div>
            <div class="news-box__text text-24 text-black font-italic">
                {% block text %}
                    <span class="font-weight-bold">Obitiunti aut optam expla quiam</span>, odicit dent fuga. Itatem eum es et fugitam que consequ iatur, sim optam comnihi llaborem et quam etur sinciis dolores secearupta quam.
                {% endblock %}
            </div>
        </div>
    </div>
</a>