.navigation {
  &__inner {
    position: relative;
  }
  .logo {
    padding-left: 45px;
  }

  &__home-logo {
    img {
    }

  }

  &__left {
    padding: 60px 0 30px 0;
    z-index: 3;
    flex: 0 0 0;
    max-width: 0;

    @include media-breakpoint-up(lg) {
      min-height: 100vh;
      flex: 0 0 40%;
      max-width: 40%;
      padding-left: 15px;
    }

    @include media-breakpoint-up(xl) {
      flex: 0 0 38%;
      max-width: 38%;
      padding-left: calc((100% - #{map-get($container-max-widths, 'xl')}) / 2 + 15px);
    }
  }
  &__right {
    left: 0;
    top: 0;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    background-color: $magenta;
    z-index: 2;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
      position: absolute;
    }
  }
  &__right-image {
    @include object-fit();
    border: none;
    padding-left: 0;

    @include media-breakpoint-up(lg) {
      padding-left: 40%;
    }

    @include media-breakpoint-up(xl) {
      padding-left: 35%;
    }

    [data-slider="true"] {
      @include object-fit();
    }
  }
  &__right--overlayed:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(128, 128, 128, .5) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(128, 128, 128, .5) 50%, rgba(128, 128, 128, .5) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
    background-size: 8px 8px;
    background-repeat: repeat;
  }

  .navigation__menu {

    padding-left: 45px;
    a {
      word-break: keep-all;
      line-height: 1.4;

      @each $breakpoint in map-keys($text-scaling) {
        @include media-breakpoint-up($breakpoint) {
          $scaling: map-get($text-scaling, $breakpoint);
          font-size: 3rem * $scaling
        }
      }
    }
    a:hover {
      text-decoration: none;
    }
  }

  &--static {
    .navigation__left {
      background-image: none;
      background-color: #ffffff;

      .navigation__menu a {
        color: $black !important;
      }
    }

    .navigation__menu {
      margin-bottom: 4rem;

      @include media-breakpoint-up(lg) {
        margin-bottom: 10rem;
      }
    }

    .navigation__right:after {
      display: none;
    }
  }

  &__below {
    position: relative;
    z-index: 15;
    width: 100%;
    padding: 30px 15px;

    color: $white;

    @include media-breakpoint-up(lg) {
      margin-top: -4rem;
    }

    @include media-breakpoint-up(lg) {
      padding: 15px;
    }

    > * {
      @include media-breakpoint-up(lg) {
        padding-left: 45px;
      }
    }


    h1 {
      color: $black-85;
    }

    &.bg-yellow {
      color: $black;
    }

    @include media-breakpoint-up(lg) {
      width: 66.666%;
      padding: 5rem 5rem 5rem 15%;
      padding-left: calc((100% - 1600px) / 2 + 15px);
      margin-top: -10rem;
    }

    > :last-child {
      margin-bottom: 0 !important;
    }
  }

  &__home-logo {
    display: block;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .logo {
    &__svg {
      max-width: 80%;
    }

    a:active,
    a:focus,
    a:hover {
      text-decoration: none;
      color: initial;
    }

    a > div:first-child {
      @include media-breakpoint-down(md) {
        color: #ffffff !important;
      }
    }
    a:hover .color-darkblue {
      color: $blue !important;
    }
  }
}
