{% set staticHeader = false %}
{% set navigationClass = '' %}

{% set headerLogoClass = '' %}

{% if head_title != 'Index' %}
    {% set staticHeader = true %}
    {% set navigationClass = 'navigation--static' %}
    {% set headerLogoClass = 'logo--homepage' %}
{% endif %}

{% if imageSrc is not defined %}
    {% set imageSrc = './img/photo-1523995462485-3d171b5c8fa9.jpeg' %}
{% endif %}

<!-- Header/menu -->
<div class="navigation {{ navigationClass }} align-items-stretch">
    {% if head_title == 'Index' %}
        <div class="navigation__home-logo pl-2 pb-8 pt-3 bg-darker-blue">
            <img class="w-50 mx-auto" src="./img/SMA-Logo_RGB_2021_rz_2_crop.svg" alt="SCHLIESSKE Logo">
        </div>
    {% endif %}
    <div class="navigation__inner d-flex">
        <div class="navigation__left col-6 d-flex flex-column justify-content-between">
            <div class="logo {{ headerLogoClass }} d-none d-lg-flex flex-column align-items-start line-height-1">
                {#{% if staticHeader != true %}#}
                <a class="w-100" href="index.html">
                    <img class="logo__svg" src="./img/{{ head_title != 'Index' ? 'SMA-Logo_RGB_2021_rz_crop.svg' : 'SMA-Logo_RGB_2021_rz_2_crop.svg' }}" alt="SCHLIESSKE Logo">
                </a>
                {#{% endif %}#}
            </div>

            <div class="navigation__menu d-flex flex-column">
                <!-- Mobile menu container -->
                <nav id="mobile-menu" class="d-flex flex-column align-items-start justify-content-start h-100 list-unstyled text-uppercase">
                    <ul>
                        <li>
                            <a href="index.html" class="clear-line-behind">
                                <img class="logo__svg" src="./img/SMA-Logo_RGB_2021_rz_2_crop.svg" alt="SCHLIESSKE Logo">
                            </a>
                        </li>
                        <li><a href="leistungen.html"><b class="line-behind">LEISTUNGEN</b></a>
                            <ul>
                                <li><a href="leistungen-branding.html">Branding</a></li>
                                <li><a href="leistungen-b2b.html">B2B</a></li>
                                <li><a href="leistungen-campaigning.html">Campaining</a></li>
                                <li><a href="leistungen-digital.html">Digital</a></li>
                                <li><a href="leistungen-design.html">Design</a></li>
                                <li><a href="leistungen-employer-branding.html">Employer Branding</a></li>
                                <li><a href="leistungen-video.html">Videos</a></li>
                                <li><a href="leistungen-socialmedia.html">Social Media</a></li>
                            </ul>
                        </li>
                        <li><a href="referenzen.html">REFERENZEN</a></li>
                        <li><a href="agency.html">AGENTUR</a>
                            <ul>
                                <li><a href="interview.html">Interview</a></li>
                                <li><a href="arbeiten.html">Wie Wir Arbeiten</a></li>
                                <li><a href="team.html">Team</a></li>
                                <li><a href="jobs.html">Jobs</a></li>
                            </ul>
                        </li>
                        <li><a href="news.html">News</a></li>
                        <li><a href="kontakt.html">Kontakt</a></li>
                    </ul>
                </nav><!-- End  Mobile menu container -->

                <a href="leistungen.html" class="d-none d-lg-block line-behind text-white text-uppercase text-48 line-height-72">LEISTUNGEN</a>
                <a href="referenzen.html" class="d-none d-lg-block line-behind text-white text-uppercase text-48 line-height-72">REFERENZEN</a>
                <a href="agency.html" class="d-none d-lg-block line-behind text-white text-uppercase text-48 line-height-72">AGENTUR</a>
                <a href="news.html" class="d-none d-lg-block line-behind text-white text-uppercase text-48 line-height-72">News</a>
                <a href="kontakt.html" class="d-none d-lg-block line-behind text-white text-uppercase text-48 line-height-72">Kontakt</a>
            </div>
        </div>

        <div class="navigation__right navigation__right--overlayed">
            <div class="navigation__right-image">
                {% block contentRight %}
                    {% if staticHeader == false %}
                        {% embed "../slider/slider.twig" with {showArrows: true, arrowColor: 'color-white', headerSlider: true, classHeader: 'ofc-w-h p-0'} %}
                            {% block settingsAttributes %}
                                data-xxl='{"slidesPerView": 1, "spaceBetween": 0}'
                                data-xl='{"slidesPerView": 1, "spaceBetween": 0}'
                                data-lg='{"slidesPerView": 1, "spaceBetween": 0}'
                                data-md='{"slidesPerView": 1, "spaceBetween": 0}'
                                data-sm='{"slidesPerView": 1, "spaceBetween": 0}'
                                data-xs='{"slidesPerView": 1, "spaceBetween": 0}'
                            {% endblock %}

                            {% block slides %}
                                <div class="swiper-slide">
                                    <video class="ofc-w-h" autoplay muted loop>
                                        <source src="./video/SMA_Headerfilm_4.mp4" type="video/mp4">
                                    </video>
                                </div>
                            {% endblock %}
                        {% endembed %}
                    {% else %}
                        <img class="ofc-w-h" src="{{ imageSrc }}" alt="">
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% if staticHeader == true %}
        {% block headerBelow %}
            <div class="navigation__below bg-black-on-white">
                <h1 class="text-grey-darker m-0 text-white">SCHLIESSKE</h1>
                <h1 class="text-white line-behind m-0">News</h1>
            </div>
        {% endblock %}
    {% endif %}
</div><!-- End Header/menu -->

<!-- Mobile menu toggler button -->
<a class="mobile-menu-btn d-block d-lg-none text-magenta" href="#mobile-menu">
    {% embed "../svg-icon/icon.twig" with {icon: 'hamburger', size: 48} %}{% endembed %}
</a><!-- End Mobile menu toggler button -->
