//
// Headline Scaling
//
@each $breakpoint in map-keys($headline-scaling) {
    @include media-breakpoint-up($breakpoint) {
        $scaling: map-get($headline-scaling, $breakpoint);
        h1,
        .h1 {
            font-size: $h1-font-size * $scaling;

            .icon {
                width: $h1-font-size * $scaling;
                height: $h1-font-size * $scaling;
            }
        }
        h2,
        .h2 {
            font-size: $h2-font-size * $scaling;
            .icon {
                width: $h2-font-size * $scaling;
                height: $h2-font-size * $scaling;
            }
        }
        h3,
        .h3 {
            font-size: $h3-font-size * $scaling;
            .icon {
                width: $h3-font-size * $scaling;
                height: $h3-font-size * $scaling;
            }
        }
        h4,
        .h4 {
            font-size: $h4-font-size * $scaling;
            .icon {
                width: $h4-font-size * $scaling;
                height: $h4-font-size * $scaling;
            }
        }
        h5,
        .h5 {
            font-size: $h5-font-size * $scaling;
            .icon {
                width: $h5-font-size * $scaling;
                height: $h5-font-size * $scaling;
            }
        }
    }
}

h1,
.h1 {
    margin-top: $spacer * 8;
    margin-bottom: $spacer * 4;
    @extend .line-height-1, .font-weight-800, .text-uppercase;

    @include media-breakpoint-up(lg) {
        margin-top: $spacer * 16;
        margin-bottom: $spacer * 8;
    }
}
h2,
.h2 {
    @extend .line-height-1, .font-weight-800, .text-uppercase;
}
h3,
.h3 {
    @extend .text-uppercase, .font-weight-bold;
}
