{% extends './_layouts/default.twig' %}
{% set head_title = 'Agency' %}
{% set body_class = '' %}

{% block page %}
    <!-- Section 1: Full width images -->
    <div class="position-relative space-top rmt-mobile mb-2 mb-lg-4">
        <h1 class="text-light-green line-behind font-weight-800 inner-left-container mt-2">MUT</h1>
        <div class="inner-right-box-1">
            <p class="text-black text-36">
                Preisgekrönte Expertise<br>
                Kreativität im Fokus der Arbeit<br>
                Breite Branchenkenntnis<br>
                Sparringpartner für strategische Entwicklung
            </p>
        </div>
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12">
                    <img src="./img/Surfer_2.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="position-relative mb-2 mb-lg-4">
        <h1 class="text-220 text-light-green line-behind font-weight-800 inner-left-container mt-2">Agilitat</h1>
        <div class="inner-right-box-2">
            <p class="text-black text-36">
                Schnelle Umsetzung<br>
                Reaktive Teambildung<br>
                Nutzung aller Medien
            </p>
        </div>
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12">
                    <img src="./img/photo-1502519144081-acca18599776.jpeg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="position-relative mb-2 mb-lg-4">
        <h1 class="text-220 text-light-green line-behind font-weight-800 inner-left-container mt-2">Struktur</h1>
        <div class="inner-right-box-3">
            <p class="text-black text-36">
                Schnelle Umsetzung<br>
                Reaktive Teambildung<br>
                Nutzung aller Medien
            </p>
        </div>
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12">
                    <img src="./img/photo-1603384698993-e5865da085c8.jpeg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <!--End Section 1: Full width images -->

    <!-- Section 2: Image boxes -->
    <div class="container container--wider">
        <div class="row">
            <div class="col-12">
                <h1>PREISVERDÄCHTIG</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 px-lg-2">
                <img class="img-fluid logo-max-height" src="./img/Preise-logo.png" alt="">
                <p class="mt-2 mt-lg-4">
                    Cannes Lions
                </p>
                <p>
                    Shortlist:<br>
                    Beiersdorf 8x4
                </p>
            </div>

            <div class="col-12 col-md-6 col-lg-3 px-lg-2">
                <img class="img-fluid logo-max-height" src="./img/reddot-logo.png" alt="">
                <p class="mt-2 mt-lg-4">
                    reddot design award
                </p>
                <p>
                    Winner<br>
                    Category:<br>
                    Corporate Design
                </p>
            </div>

            <div class="col-12 col-md-6 col-lg-3 px-lg-2">
                <img class="img-fluid logo-max-height" src="./img/gooddesign-logo.png" alt="">
                <p class="mt-2 mt-lg-4">
                    Good Design Award,<br>
                    Chicago
                </p>
                <p>
                    Category:<br>
                    Corporate Design &<br>
                    Annual Report
                </p>
            </div>

            <div class="col-12 col-md-6 col-lg-3 px-lg-2">
                <img class="img-fluid logo-max-height" src="./img/german-design-award-logo.png" alt="">
                <p class="mt-2 mt-lg-4 mb-2">
                    Rat für Formgebung.<br>
                    German Design Council.<br>
                    German Design Award<br>
                    Special Mention
                </p>
            </div>
        </div>

        <div class="row mt-0 mt-lg-5">
            <div class="col-12 col-md-6 col-lg-3 p-lg-2 pr-md-1 mb-2 mb-2 my-lg-0">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/DSC_0085.jpg', title: 'Interview', link: 'interview.html'} %}{% endembed %}
            </div>
            <div class="col-12 col-md-6 col-lg-3 p-lg-2 pl-md-1 mb-2 mb-2 my-lg-0">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/KV_Pfirsich.jpg', title: 'Wie wir arbeiten', link: 'arbeiten.html'} %}{% endembed %}
            </div>
            <div class="col-12 col-md-6 col-lg-3 p-lg-2 pr-md-1 mb-2 mb-2 my-lg-0">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/quino-al-ce79TRf3Fyw-unsplash.jpg', title: 'Team', link: 'team.html'} %}{% endembed %}
            </div>
            <div class="col-12 col-md-6 col-lg-3 p-lg-2 pl-md-1 mb-2 mb-2 mb-lg-2 my-lg-0">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/photo-1476231790875-016a80c274f3.jpeg', title: 'Jobs', link: 'jobs.html'} %}{% endembed %}
            </div>
        </div>
    </div><!--End Section 2: Image boxes -->
{% endblock %}
