{% extends './_layouts/default.twig' %}
{% set head_title = 'How We Work' %}
{% set body_class = '' %}

{% block page %}
    <!-- Section 1: Images with text -->
    <div class="container container--wider">
        <div class="row">
            <div class="col-12">
                <h1 class="line-behind">Der<br>MARKENKERN</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid p-15p">
        <div class="row">
            <div class="col-12">
                {% embed './components/image-text/image-text.twig' %}

                {% endembed %}
            </div>
        </div>
    </div>

    <div class="container container--wider">
        <div class="row">
            <div class="col-12">
                <h1 class="line-behind">Der<br>MARKENKOMPETENZ</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid p-15p">
        <div class="row">
            <div class="col-12">
                {% embed './components/image-text/image-text.twig' with {img: './img/photo-1600707482842-ea7ec73daa90.jpeg'} %}
                    {% block text %}
                        <p class="text-30 text-magenta">
                            Was ihre Marke leistet, durch<br>
                            Kompetenz, Nutzen und Charakter.
                        </p>
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>

    <div class="container container--wider">
        <div class="row">
            <div class="col-12">
                <h1 class="line-behind">Der<br>MARKENNUTZEN</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid p-15p">
        <div class="row">
            <div class="col-12">
                {% embed './components/image-text/image-text.twig' with {img: './img/pexels-photo-5857298.jpeg'} %}
                    {% block text %}
                        <p class="text-30 text-magenta">
                            Was ihre Marke leistet, durch<br>
                            Kompetenz, Nutzen und Charakter.
                        </p>
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>

    <div class="container container--wider">
        <div class="row">
            <div class="col-12">
                <h1 class="line-behind">Der<br>MARKENCHARAKTER</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid p-15p">
        <div class="row">
            <div class="col-12">
                {% embed './components/image-text/image-text.twig' with {img: './img/photo-1568583922678-3d514ca09711.jpeg'} %}
                    {% block text %}
                        <p class="text-30 text-magenta">
                            Was ihre Marke leistet, durch<br>
                            Kompetenz, Nutzen und Charakter.
                        </p>
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>

    <div class="container container--wider">
        <div class="row">
            <div class="col-12">
                <h1 class="line-behind">DAS MARKEN<br>ERSCHEINUNGSBILD</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid p-15p">
        <div class="row">
            <div class="col-12">
                {% embed './components/image-text/image-text.twig' with {img: './img/photo-1534520238782-00b1a4650596.jpeg'} %}
                    {% block text %}
                        <p class="text-30">
                            Unser Brand Design ist mehr als Gestaltung.
                            Es übersetzt die strategischen Ziele der Marke in die Sprache des Mediums. Vom Corporate Design bis zum Brand Video.
                        </p>
                        <p class="text-30">
                            Webdesign oder Social Media erfordern andere Formen der Informationsvermittlung als eine Imagebroschüre oder ein Viral. Wir passen die Tonalität den Gesetzmäßigkeiten eines Mediums an und schaffen dennoch ein wiedererkennbares Markenprofil.
                        </p>
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>
    <!-- End Section 1: Images with text -->

    <div class="container container--wider">
        <div class="row">
            <div class="col-12">
                <h2 class="h1 text-72 line-behind">WIE GUT KENNEN SIE IHRE MARKE?</h2>
            </div>
            <div class="col-12 col-lg-6">
                <div class="orange-box bg-light-orange text-white font-weight-600">
                    Wir erstellen Ihnen ein unverbindliches<br>Angebot für eine Kurzanalyse
                    <span class="triangle"></span>
                    <div class="orange-box__icon">
                        {% include './components/svg-icon/icon.twig' with {icon: 'email', size: 32} %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 2: Grey boxes -->
    <div class="space-top">
        {% embed './components/grey-box/grey-box.twig' with {img: './img/branding_markenstrategie.png'} %}
        {% endembed %}

        {% embed './components/grey-box/grey-box.twig' with {img: './img/branding_digital.png'} %}
            {% block headline %}
                <h1 class="text-white line-behind">Digital<br>Branding</h1>
            {% endblock %}
            {% block text %}
                <p class="font-weight-bold text-36 text-black">Digital Branding – nur ein neues Marketing Buzzword? Falsch!</p>
            {% endblock %}
        {% endembed %}

        {% embed './components/grey-box/grey-box.twig' with {img: './img/branding_markenstrategie.png'} %}
            {% block headline %}
                <h1 class="text-white line-behind">Brand<br>Design</h1>
            {% endblock %}
            {% block text %}
                <p class="font-weight-bold text-36 text-black">Unser Brand Design ist mehr als Gestaltung.</p>
            {% endblock %}
        {% endembed %}

        {% embed './components/grey-box/grey-box.twig' with {img: './img/branding_markenarchitektur.png'} %}
            {% block headline %}
                <h1 class="text-white line-behind">MARKEN<br>ARCHITEKTUR</h1>
            {% endblock %}
            {% block text %}
                <p class="font-weight-bold text-36 text-black">Wie verhalten sich mehrere Marken unter einem Dach?</p>
            {% endblock %}
        {% endembed %}

        {% embed './components/grey-box/grey-box.twig' with {img: './img/branding_markenkommunikation.png'} %}
            {% block headline %}
                <h1 class="text-white line-behind">MARKEN<br>KOMMUNIKATION</h1>
            {% endblock %}
            {% block text %}
                <p class="font-weight-bold text-36 text-black">Wie bewegt man Menschen?</p>
            {% endblock %}
        {% endembed %}

        {% embed './components/grey-box/grey-box.twig' with {img: './img/branding_naming.png'} %}
            {% block headline %}
                <h1 class="text-white line-behind">Naming</h1>
            {% endblock %}
            {% block text %}
                <p class="font-weight-bold text-36 text-black">Namen sind Programm. Sie stehen ganz oben auf der ID-Card.</p>
            {% endblock %}
        {% endembed %}

        {% embed './components/grey-box/grey-box.twig' with {img: './img/branding_employerbranding.png'} %}
            {% block headline %}
                <h1 class="text-white line-behind">
                    EMPLOYER<br>
                    BRANDING</h1>
            {% endblock %}
            {% block text %}
                <p class="font-weight-bold text-36 text-black">Ein attraktiver Arbeitgeber im War for talents – wie geht das?</p>
            {% endblock %}
        {% endembed %}
    </div><!--End Section 2: Grey boxes -->
{% endblock %}