{% extends './_layouts/default.twig' %}
{% set head_title = 'Index' %}
{% set body_class = 'page-home' %}

{% block page %}
    <!-- Section 1: Grid colored boxes -->
    <div class="row no-gutters">
        <div class="col-6 col-lg-3">
            {% embed './components/colored-box/colored-box.twig' with {colorClass: 'bg-magenta'} %}{% endembed %}
        </div>
        <div class="col-6 col-lg-3">
            {% embed './components/colored-box/colored-box.twig' with {title: 'B2B', link: 'leistungen-b2b.html', colorClass: 'bg-brown'} %}{% endembed %}
        </div>
        <div class="col-6 col-lg-3">
            {% embed './components/colored-box/colored-box.twig' with {title: 'Campaigning', link: 'leistungen-campaigning.html', colorClass: 'bg-light-orange'} %}{% endembed %}
        </div>
        <div class="col-6 col-lg-3">
            {% embed './components/colored-box/colored-box.twig' with {title: 'Digital', link: 'leistungen-digital.html', colorClass: 'bg-blue'} %}{% endembed %}
        </div>

        <div class="col-6 col-lg-3">
            {% embed './components/colored-box/colored-box.twig' with {title: 'Design', link: 'leistungen-design.html', colorClass: 'bg-dark-blue'} %}{% endembed %}
        </div>
        <div class="col-6 col-lg-3">
            {% embed './components/colored-box/colored-box.twig' with {title: 'Employer Branding', link: 'leistungen-employer-branding.html', colorClass: 'bg-light-green'} %}{% endembed %}
        </div>
        <div class="col-6 col-lg-3">
            {% embed './components/colored-box/colored-box.twig' with {title: 'Videos', link: 'leistungen-video.html', colorClass: 'bg-yellow'} %}{% endembed %}
        </div>
        <div class="col-6 col-lg-3">
            {% embed './components/colored-box/colored-box.twig' with {title: 'Social Media', link: 'leistungen-socialmedia.html', colorClass: 'bg-light-blue'} %}{% endembed %}
        </div>
    </div><!-- End Section 1: Grid colored boxes -->

    <!-- Section 2: Excerpt text -->
    <div class="container container--wider">
        <div class="row">
            <div class="col-12">
                <h1 class="text-capitalize">Wir setzen<br>Marken in szene</h1>

                <p class="mb-0">Seit 25 Jahren machen wir Markenkommunikation mit Tiefgang. Wir legen die Identität von Unternehmen, Produkten und Services frei und formen sie zu attraktiven Marken-Persönlichkeiten, die sich souverän in allen analogen und digitalen Umfeldern bewegen. Mit relevantem Content, coolem Design und Kommunikation, die den Nerv trifft, schaffen wir nachhaltige Bindungen zwischen Unternehmen und ihren Zielgruppen.</p>

                <a href="#" class="btn bg-light-orange text-white mt-2 mt-lg-4">WIE WIR ARBEITEN</a>
            </div>
        </div>
    </div>
    <!-- End Section 2: Excerpt text -->

    <!-- Section 3: Reference boxes -->
    <div class="container container--wider">
        <div class="row">
            <div class="col-12">
                <h1 class="line-behind">REFERENZEN</h1>
            </div>
        </div>
    </div>

    <div class="container container--narrow">
        {% embed "./components/slider/slider.twig" with {showArrows: true, fullWidth: true} %}
            {% block settingsAttributes %}
                data-xxl='{"slidesPerView": 3, "spaceBetween": 30, "slidesPerColumn": 2, "slidesPerGroup": 2}'
                data-xl='{"slidesPerView": 3, "spaceBetween": 30, "slidesPerColumn": 2, "slidesPerGroup": 2}'
                data-lg='{"slidesPerView": 3, "spaceBetween": 15, "slidesPerColumn": 1, "slidesPerGroup": 1}'
                data-md='{"slidesPerView": 2.25, "spaceBetween": 15}'
                data-hd='{"slidesPerView": 2.25, "spaceBetween": 15}'
                data-sm='{"slidesPerView": 1.25, "spaceBetween": 15, "slidesPerColumn": 2, "slidesPerGroup": 2}'
                data-xs='{"slidesPerView": 1.25, "spaceBetween": 15, "slidesPerColumn": 2, "slidesPerGroup": 2}'
            {% endblock %}

            {% block slides %}
                {% for i in 0..3 %}
                    <div class="swiper-slide">
                        {% embed './components/reference-box/reference-box.twig' %}{% endembed %}
                    </div>
                    <div class="swiper-slide">
                        {% embed './components/reference-box/reference-box.twig' with {img: './img/Titelbild_Manifesto_OM.jpg', title: 'OBERPFALZ MEDIEN'} %}{% endembed %}
                    </div>
                    <div class="swiper-slide">
                        {% embed './components/reference-box/reference-box.twig' with {img: './img/leighann-renee-1060275-unsplash.jpg', title: 'Finn Comfort'} %}{% endembed %}
                    </div>
                    <div class="swiper-slide">
                        {% embed './components/reference-box/reference-box.twig' with {img: './img/Black_is_back_Motiv_20_sRGB.jpg', title: 'Playground'} %}{% endembed %}
                    </div>

                    <div class="swiper-slide">
                        {% embed './components/reference-box/reference-box.twig' with {img: './img/Augustinum_Winkler_229_a4_72dpi_sRGB.jpg', title: 'AUGUSTINUM'} %}{% endembed %}
                    </div>
                    <div class="swiper-slide">
                        {% embed './components/reference-box/reference-box.twig' with {img: './img/Freudenberg_Kachelbild.jpg', title: 'FREUDENBERG'} %}{% endembed %}
                    </div>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    </div>
    <!-- End Section 3: Reference boxes -->

    <!-- Section 4: News boxes -->
    <div class="container container--wider">
        <div class="row">
            <div class="col-12">
                <h1 class="line-behind">News</h1>
            </div>
        </div>
    </div>

    <div class="container container--narrow">
        {% embed "./components/slider/slider.twig" with {showArrows: true, fullWidth: true} %}
            {% block settingsAttributes %}
                data-xxl='{"slidesPerView": 3, "spaceBetween": 30}'
                data-xl='{"slidesPerView": 3, "spaceBetween": 30}'
                data-lg='{"slidesPerView": 3, "spaceBetween": 15}'
                data-md='{"slidesPerView": 2.25, "spaceBetween": 15}'
                data-hd='{"slidesPerView": 2.25, "spaceBetween": 15}'
                data-sm='{"slidesPerView": 1.25, "spaceBetween": 15}'
                data-xs='{"slidesPerView": 1.25, "spaceBetween": 15}'
            {% endblock %}

            {% block slides %}
                {% for i in 0..3 %}
                    <div class="mb-30px swiper-slide">
                        {% embed './components/news-box/news-box.twig' %}{% endembed %}
                    </div>

                    <div class="mb-30px swiper-slide">
                        {% embed './components/news-box/news-box.twig' with {img: './img/hubergroupbild.jpg', date: '09_2020', title: 'Huber Group'} %}
                            {% block text %}
                                <span class="font-weight-bold">Obitiunti aut optam expla</span> quiam, odicit dent fuga. Itatem eum es et fugitam que consequ iatur, sim optam comn.
                            {% endblock %}
                        {% endembed %}
                    </div>

                    <div class="mb-30px swiper-slide">
                        {% embed './components/news-box/news-box.twig' with {date: '07_2020', title: 'Schiedel GmbH'} %}
                            {% block text %}
                                <span class="font-weight-bold">Obitiunti aut optam expla quiam, odicit dent fuga.</span> Itatem eum es et fugitam que
                                consequ iatur, sim optam comnihi llaborem
                                et quam etur sinciis dolores secearupta
                                quam m eum es et fugit.
                            {% endblock %}
                        {% endembed %}
                    </div>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    </div>
    <!-- End Section 4: Reference boxes -->

    <!-- Section 5: Full-screen video
    <div class="mt-lg-5">
        {% embed './components/video-overlayed/video-overlayed.twig' with {videoUrl: 'https://www.youtube.com/embed/NpEaa2P7qZI', posterSrc: './img/video_poster1.jpg'} %}
        {% endembed %}
    </div>-->
    <!-- End Section 5: Full-screen video -->

    <!-- Section 6: Customers -->
    <div class="home-section-6">
        <div class="container container--wider">
            <div class="row">
                <div class="col-12">
                    <h1 class="line-behind">Kunden</h1>
                </div>
            </div>
        </div>

        <div class="container container--narrow">
            {% embed "./components/slider/slider.twig" with {showArrows: true, fullWidth: true} %}
                {% block settingsAttributes %}
                    data-xxl='{"slidesPerView": 3, "spaceBetween": 0, "slidesPerColumn": 3, "slidesPerGroup": 3}'
                    data-xl='{"slidesPerView": 3, "spaceBetween": 0, "slidesPerColumn": 3, "slidesPerGroup": 3}'
                    data-lg='{"slidesPerView": 3, "spaceBetween": 0, "slidesPerColumn": 3, "slidesPerGroup": 3}'
                    data-md='{"slidesPerView": 2, "spaceBetween": 0, "slidesPerColumn": 3, "slidesPerGroup": 1}'
                    data-hd='{"slidesPerView": 2, "spaceBetween": 0, "slidesPerColumn": 3, "slidesPerGroup": 1}'
                    data-sm='{"slidesPerView": 2, "spaceBetween": 0, "slidesPerColumn": 3, "slidesPerGroup": 2}'
                    data-xs='{"slidesPerView": 2, "spaceBetween": 0, "slidesPerColumn": 3, "slidesPerGroup": 2}'
                {% endblock %}

                {% block slides %}
                    {% for i in 0..2 %}
                        <div class="swiper-slide filter-darken p-0 text-center d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src="./img/Logo_Freudenberg.png" alt="Freudenberg">
                        </div>
                        <div class="swiper-slide filter-darken p-0 text-center d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src="./img/200px-Airbus_Logo_2017.png" alt="Airbus">
                        </div>
                        <div class="swiper-slide filter-darken p-0 text-center d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src="./img/siemens-logo.png" alt="Siemens">
                        </div>

                        <div class="swiper-slide filter-darken p-0 text-center d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src="./img/lindner-group-vector-logo.png" alt="Lindner group">
                        </div>
                        <div class="swiper-slide filter-darken p-0 text-center d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src="./img/BHS_Tabletop_Logo.png" alt="BHS Tabletop">
                        </div>
                        <div class="swiper-slide filter-darken p-0 text-center d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src="./img/logo_wordmark.png" alt="Krempel">
                        </div>

                        <div class="swiper-slide filter-darken p-0 text-center d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src="./img/OberpfalzMedien_Logo_RZ.png" alt="Oberpfalz Medien">
                        </div>
                        <div class="swiper-slide filter-darken p-0 text-center d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src="./img/640px-Hoffmann-La_Roche_logo.png" alt="La Roche">
                        </div>
                        <div class="swiper-slide p-0 text-center d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src="./img/Company-logo-schiedel-2019.png" alt="Schiedel">
                        </div>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
    <!-- End Section 6: Customers -->

    <!-- Section 7: Contact -->
    <div class="container container--wider">
        <div class="row">
            <div class="col-12">
                <h1 class="line-behind">Kontakt</h1>
            </div>
        </div>
    </div>

    <div class="container-md px-0 mb-8 mb-lg-8">
        <div class="row no-gutters pl-lg-2 pr-lg-2">
            <div class="col-sm-12">
                {% embed './components/contact/contact.twig' %}
                {% endembed %}
            </div>
        </div>
    </div>

{% endblock %}
