{% extends './_layouts/default.twig' %}
{% set head_title = 'Interview' %}
{% set body_class = '' %}

{% block page %}
    <!-- Section 1: Text -->
    <div id="interview-section-1" class="space-top">
        <div class="container container--wider">
            <div class="row">
                <div class="col-12">
                    <p>
                        Seit 2019 leiten Leonie Schliesske und Philipp Dolejsky den neu eröffneten
                        Schliesske-Standort im Herzen des Frankfurter Stadtviertels Westend.
                        Ihr Fokus - der Bereich Digital Branding.
                    </p>
                    <p class="font-weight-bold">
                        Alles neu? Jein, denn viele Aspekte aus dem klassischen Branding finden sich auch in der digitalen Welt wieder - und zwar sowohl b2c als auch b2b. Aber was genau?
                    </p>
                    <p>
                        Thomas Schliesske hat ein Gespräch geführt mit unseren digital natives und digital educated Leonie Schliesske und Philipp Dolejsky.
                    </p>
                    <p>
                        <img class="img-fluid my-0 my-lg-5 image-in-text" src="./img/DSC_0058.jpg" alt="">
                    </p>
                    <p class="font-weight-bold">
                        Was unterscheidet Digital Branding von klassischer Markenarbeit?
                    </p>
                    <p>
                        Beim Digital Branding prallen zwei Dinge aufeinander, die eigentlich nicht zusammenpassen. Im klassischen Branding fragen wir immer: Wer bist du? Wofür stehst du? Was unterscheidet dich von anderen? Es geht um Identität und die wechselt man nicht wie die Unterhosen. Für diese analoge Persönlichkeit kreieren wir sozusagen einen digitalen Doppelgänger. Dieser Brand Avatar tummelt sich im Internet, einem Medium, das ziemlich anders tickt als seine analogen Zeitgenossen. Schneller, unkonzentrierter, demokratischer, brutaler und auch nachtragender. Unser Digital Branding hilft diesem Marken Avatar auf die Sprünge. Wir geben ihm ein Coaching, damit er sich dem fluiden digitalen Habitat anpasst.
                    </p>
                    <p class="font-weight-bold">
                        Wie sollen sich Marken im Netz bewegen?
                    </p>
                    <p>
                        Auf jeden Fall flinker, smarter, wendiger, profilierter, tagesaktueller…Digital Branding ist wie eine Art Speed Dating. Die Aufmerksamkeitsspanne der User ist in der Regel extrem kurz und direkt nebendran flirtet schon ein Konkurrent mit dem User.
                    </p>
                    <p class="font-weight-bold">
                        Und wie entsteht dann eine Beziehung?
                    </p>
                    <p>
                        Im Grund wie im echten Leben. Hilfreich ist zweifellos ein attraktives, gepflegtes Äußeres. Sprich: ein cooles Corporate Design, Coporate Colors, eine attraktive Bildwelt. Und dann heißt es, irgendwie Aufmerksamkeit bekommen, Interesse wecken. Sprich: etwas Bewegendes, Humorvolles, Persönliches erzählen. Eben Markanz schaffen mit spannendem Content. Und gute Locations für die Begegnung wählen, am Ende folgt die Einladung nach Hause.
                    </p>
                    <p class="font-weight-bold">
                        Also keine One-Night Stands?
                    </p>
                    <p>
                        Nein, gute Brands sind seriöse Angebote, vertieften Kontakt aufzunehmen, dauerhafte Bindungen eingehen. Dazu gehört auch, mal Fehler einzugestehen, Schwächen zu zeigen. Um’s mal plakativ zu sagen: Es geht weniger um Sex als um Liebe. Gefühlstiefe, Ehrlichkeit, Transparenz, einfach gute Werte. Das beginnt mit Sympathie, Zuhören, Verstehen und mündet, wenn alles passt, in eine langfristige Bindung. Eine Heimat und Zugehörigkeit, die man mit anderen teilt. Deswegen sind Marken Communities auch keine Swinger Clubs, sondern eher Freundeskreise.
                    </p>
                    <p class="font-weight-bold">
                        Muss eine Marke sich einfach gut verkaufen?
                    </p>
                    <p>
                        Eigentlich dreht es sich nicht ums Verkaufen. Das ist nur ein möglicher Nebeneffekt. Es geht um etwas Wertkonservatives wie verlässliche Nähe. Bonding nennt man das, wenn zwischen Babys und Müttern eine lebenswichtige Bindung entsteht. Branding ist Bonding. Unser digitales Branding schafft genau diese existentielle emotionale Wärme. Unsere Kommunikation macht die Marke nahbar.
                    </p>

                    <img src="./img/DSC_2292_sRGB.jpg" alt="" class="img-fluid mb-3 my-lg-5 image-in-text">

                    <p class="font-weight-bold">
                        Was ist der größte Unterschied zu analogem Branding?
                    </p>
                    <p>
                        Der unmittelbare Kontakt mit den Usern. Digitale Markenkommunikation ist direkter Austausch. Die Brand ist kein Eigentum eines Unternehmens oder der Marketingabteilung. Sie entsteht im Zusammenspiel von allen sogenannten Stakeholdern, also auch den Marken Communities, Usern, Öffentlchkeit, Mitarbeitern, Kunden, Foren, Testinstituten, NGOs, Presse-Abteilungen etc. Sie teilen sich die Marke. Sie alle formen die Marke...und geben ihren Senf dazu.
                    </p>
                    <p class="font-weight-bold">
                        Wie lässt sich eine Brand da noch steuern?
                    </p>
                    <p>
                        Ja, da geht das Gespenst von der “Unsteuerbarkeit der Marke im digitalen Raum” um. Weil angeblich jeder im Netz irgendeinen Unsinn über einen verbreiten kann. Natürlich ist der Online-Kosmos nicht komplett kontrollierbar. Aber wer für seine Marke im “real life” ein solides Fundament und eine kluge Strategie geschaffen hat, den werfen die disruptiven Kräfte in den sozialen Medien nicht so schnell aus der Bahn. Sie inspirieren ihn eher.
                    </p>
                    <p>
                        Die Faustregel: Sei glaubwürdig. Sei ehrlich, authentisch. Kommuniziere transparent. Kritik ernst nehmen. Schnell reagieren. Impulse aufnehmen. Respekt zeigen. Schmu wird im Handumdrehen aufgedeckt und nicht verziehen.
                    </p>
                    <p class="font-weight-bold">
                        Wie verzahnt man online und offline?
                    </p>
                    <p>
                        Für viele Unternehmen eine Black Box. Eins steht fest: der Kunde wechselt easy zwischen den Welten. Als erstes müssen seine Pfade erfasst werden – die Customer Journey. Und dann gilt es, die diversen Kontaktpunkte gezielt und sinnvoll zu bespielen. Wir müssen herausfinden, in welchen Momenten sich der Kunde oder ein künftiger Mitarbeiter mit Produkten, Dienstleistungen oder dem Unternehmen auseinandersetzt. Genau diese Momente nutzen wir für die Brand und bieten dem User für ihn relevante Informationen oder Interaktionen an. Dabei hilft natürlich das Targeting, mit dem sich im Netz alles viel genauer steuern und der Erfolg tracken lässt.
                    </p>
                    <p>
                        Digitale Trends schießen wie Pilze aus dem Boden. Wie reagieren
                        Marken darauf?
                    </p>
                    <p>
                        Gelassen. Man darf sich nicht von jeder Sau, die durchs globale Dorf getrieben wird, aus der Ruhe bringen lassen. Bloß nicht in schwitzigen Aktionismus verfallen, sondern immer den Abgleich mit der Marke machen und markenkonform agieren. Für uns ist sonnenklar: Nicht die Technologie führt die Marke, sondern die Markenführung soll die technologische Entwicklung nutzen. Punkt. Eine smarte Brand ist ein gewiefter Surfer. Mutig, geschmeidig, passioniert. So sehen wir das.
                    </p>

                    <div class="my-3 my-lg-5">
                        <a href="#" class="btn bg-light-orange text-white position-relative font-weight-600 btn--triangle-back"><span class="triangle"></span>ZURÜCK</a>
                    </div>

                    <div class="orange-box bg-light-orange text-white font-weight-600">
                        Lust auf mehr? Gerne sprechen wir 2020 mit Ihnen über Digital Branding oder begleiten Sie grundsätzlich beim Thema Digitale Kommunikation.
                        <span class="triangle"></span>
                        <div class="orange-box__icon">
                            {% include './components/svg-icon/icon.twig' with {icon: 'email', size: 32} %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--End Section 1: Text -->

    <!-- Section 2: Contact -->
    <div id="interview-section-2">
        <div id="interview-kontakt" class="container container--wider">
            <div class="row">
                <div class="col-12">
                    <div class="h1 line-behind">Kontakt</div>
                </div>
            </div>
        </div>

        <div class="container mb-2 mb-lg-0">
            <div class="row">
                <div class="col-12">
                    {% embed './components/contact/contact.twig' with {noBtn: true, multiplyColor: 'grey', img: './img/Leo_Philipp_2000x1125_2.jpg'} %}
                        {% block name %}
                            <div class="kontakt__transparent-box kontakt--font-mobile-fix kontakt__transparent-box--brown text-36">
                                Leonie Schliesske | Philipp Dolejsky
                            </div>
                        {% endblock %}

                        {% block below %}
                            <div class="kontakt__below-box bg-black-on-white">
                                <div class="kontakt__title text-white text-72 m-0">ANSPRECHPARTNER<br>DIGITAL BRANDING
                                </div>
                                <div class="mt-2 mt-lg-4">
                                    <span>{% include './components/svg-icon/icon.twig' with {icon: 'phone', size: 32} %}</span>
                                    <span class=" text-30 ml-2">089/89 55 66-16 | 089/89 55 66-6958</span>
                                </div>
                                <div class="mt-2 mt-lg-3">
                                    <span>{% include './components/svg-icon/icon.twig' with {icon: 'email', size: 32} %}</span>
                                    <span class=" text-30 ml-2">l.schliesske@schliesske.de</span>
                                </div>
                                <div class="mt-2 mt-lg-3">
                                    <span>{% include './components/svg-icon/icon.twig' with {icon: 'email', size: 32} %}</span>
                                    <span class=" text-30 ml-2">p.dolejsky@schliesske.de</span>
                                </div>
                                <div class="mt-2 mt-lg-3">
                                    <span>{% include './components/svg-icon/icon.twig' with {icon: 'linkedin', size: 32} %}</span>
                                    <span class=" ml-2">{% include './components/svg-icon/icon.twig' with {icon: 'xing', size: 32} %}</span>
                                </div>
                            </div>
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        </div>
    </div>
    <!-- End Section 2: Contact -->
{% endblock %}
