{% extends './_layouts/default.twig' %}
{% set head_title = 'Jobs' %}
{% set body_class = '' %}

{% block page %}
    <!-- Section 1: Excerpts  -->
    <div class="container-fluid p-15p">
        <div class="row">
            <div class="col-12">
                <h1 class="line-behind">DIGITAL MEDIA PLANER</h1>
                <p>
                    Nonsenim adia nis ipsapid que poriaturia voloren imint, tempore nobis alique delentiur, omnia di dolupiet rem int, nullorupta sumquibus.
                    Ci rem aut vendae offici optatem porehent quo blam rentem accus cus et, offic te andi bea ius se voluptatiis et aruntur aut del.
                </p>
                <div class="my-2 my-lg-5">
                    <a href="#" class="btn bg-light-orange text-white position-relative font-weight-600 btn--triangle-forward"><span class="triangle"></span>WEITERLESEN</a>
                </div>

                <h1 class="line-behind">PRAKTIKANT</h1>
                <p>Nonsenim adia nis ipsapid que poriaturia voloren imint, tempore nobis alique delentiur, omnia di dolupiet rem int, nullorupta sumquibus.
                    Ci rem aut vendae offici optatem porehent quo blam rentem accus cus et, offic te andi bea ius se voluptatiis et aruntur aut del.</p>
                <div class="my-3 my-lg-5">
                    <a href="#" class="btn bg-light-orange text-white position-relative font-weight-600 btn--triangle-forward"><span class="triangle"></span>WEITERLESEN</a>
                </div>
            </div>
        </div>
    </div>
    <!--End Section 1: Excerpts -->
{% endblock %}