{% extends './_layouts/default.twig' %}
{% set head_title = 'Kontakt' %}
{% set body_class = '' %}

{% block page %}
    <!-- Section 1: Contact form  -->
    <div id="kontakt-section-1">
        <div class="container-fluid bg-black-on-white space-top rmt-mobile p-15p py-5rem">
            <form action="">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="form-group row">
                            <label class="col-12 col-sm-2 col-form-label text-white text-uppercase" for="input-name">Name*</label>
                            <div class="col-12 col-sm-10">
                                <input type="text" class="form-control rounded-0" id="input-name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-2 col-form-label text-white text-uppercase" for="input-firma">Firma</label>
                            <div class="col-12 col-sm-10">
                                <input type="text" class="form-control rounded-0" id="input-firma">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-2 col-form-label text-white text-uppercase" for="input-phone">Telefon</label>
                            <div class="col-12 col-sm-10">
                                <input type="tel" class="form-control rounded-0" id="input-phone">
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-12 col-sm-2 col-form-label text-white text-uppercase" for="input-mail">Mail*</label>
                            <div class="col-12 col-sm-10">
                                <input type="email" class="form-control rounded-0" id="input-mail">
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 offset-sm-0 offset-lg-0 col-lg-6 mt-0 mt-sm-3 mt-lg-0">
                        <div class="form-group row form-group--h-100">
                            <label class="col-12 col-sm-2 col-form-label text-white text-uppercase d-block d-lg-none" for="input-message">Message*</label>
                            <div class="col-12 col-md-10 col-lg-12 col-sm-10 h-100">
                                <textarea class="h-100 form-control rounded-0" name="input-message" id="input-message"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 text-right contact-btn">
                        <a href="#" class="btn bg-light-orange text-white position-relative font-weight-600 btn--triangle-forward"><span class="triangle"></span>ABSENDEN</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--End Section 1: Contact form -->

    <!--Section 2: Address -->
    <div id="kontakt-section-2">
        <div class="container-fluid space-top p-15p py-10rem">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <h1 class="line-behind">Office München</h1>
                </div>
                <div class="col-12 col-lg-5 offset-lg-1">
                    <img class="img-fluid" src="./img/SM770-04.jpg" alt="">
                </div>
                <div class="col-12 col-lg-6 align-self-end mt-2 mt-lg-0">
                    <p class="font-weight-bold text-36">Schliesske Markenagentur GmbH</p>
                    <p class="text-36">Neufahrner Weg 7 · 82057 Icking</p>
                    <p class="text-36">Tel: 089/89 55 66-0</p>
                    <p class="text-36">Mail: info@schliesske.de</p>
                    <p class="text-36">www.schliesske.de</p>
                </div>
            </div>

            <div class="row space-top rmt-mobile">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <h1 class="line-behind">Office FRANKFURT</h1>
                </div>
                <div class="col-12 col-lg-5 offset-lg-1">
                    <img class="img-fluid" src="./img/2020-11-27.jpg" alt="">
                </div>
                <div class="col-12 col-lg-6 align-self-end mt-2 mt-lg-0">
                    <p class="font-weight-bold text-36">Schliesske Markenagentur GmbH</p>
                    <p class="text-36">Emil-Claar-str. 22 · 60322 Frankfurt/Main</p>
                    <p class="text-36">Tel: 089/89 55 66-6958</p>
                    <p class="text-36">Mail: info@schliesske.de</p>
                    <p class="text-36">www.schliesske.de</p>
                </div>
            </div>
        </div>
    </div>
    <!--End Section 2: Address -->
{% endblock %}