{% extends './_layouts/default.twig' %}
{% set head_title = 'Leistungen Branding' %}
{% set body_class = '' %}

{% block page %}
    <!-- Section 1: Full width image -->
    <div class="container space-top">
        <div class="row no-gutters">
            <div class="col-12">
                <img src="./img/KRE-19-015-CD-Manual-K8.jpg" alt="" class="img-fluid">
                <span class="topleft-span text-magenta">Krempel Group</span>
            </div>
        </div>
    </div><!--End Section 1: Full width image -->

    <!-- Section 2: Contact -->
    <div class="container container--wider">
        <div class="row">
            <div class="col-12">
                <h1 class="line-behind">Kontakt</h1>
            </div>
        </div>
    </div>

    <div class="container-md px-0">
        <div class="row no-gutters pl-lg-2 pr-lg-2">
            <div class="col-12">
                {% embed './components/contact/contact.twig' with {noBtn: true, multiplyColor: 'magenta', img: './img/Thomas_Portrait.jpg'} %}
                    {% block name %}
                        <div class="kontakt__transparent-box kontakt__transparent-box--magenta text-36">
                            Thomas Schliesske
                        </div>
                    {% endblock %}

                    {% block below %}
                        <div class="kontakt__below-box bg-magenta">
                            <div class="kontakt__title text-white text-72 m-0">ANSPRECHPARTNER<br>BRANDING</div>
                            <div class="mt-2 mt-lg-4">
                                <span>{% include './components/svg-icon/icon.twig' with {icon: 'phone', size: 32} %}</span>
                                <span class="text-30 ml-2">089/89 55 66-12</span>
                            </div>
                            <div class="mt-2 mt-lg-3">
                                <span>{% include './components/svg-icon/icon.twig' with {icon: 'email', size: 32} %}</span>
                                <span class="text-30 ml-2">t.schliesske@schliesske.de</span>
                            </div>
                            <div class="mt-2 mt-lg-3">
                                <span>{% include './components/svg-icon/icon.twig' with {icon: 'linkedin', size: 32} %}</span>
                                <span class="ml-2">{% include './components/svg-icon/icon.twig' with {icon: 'xing', size: 32} %}</span>
                            </div>
                        </div>
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>
    <!-- End Section 2: Contact -->

    <!-- Section 3: Reference boxes -->
    <div class="container container--wider">
        <div class="row">
            <div class="col-12">
                <h1>UNSERE WEITEREN SCHWERPUNKTE</h1>
            </div>
        </div>
    </div>

    <div class="container-lg mx-auto">
        <div class="row no-gutters px-lg-15px">
            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {colorClass: 'bg-magenta'} %}{% endembed %}
            </div>
            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {title: 'B2B', link: 'leistungen-b2b.html', colorClass: 'bg-brown'} %}{% endembed %}
            </div>
            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {title: 'Campaigning', link: 'leistungen-campaigning.html', colorClass: 'bg-light-orange'} %}{% endembed %}
            </div>
            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {title: 'Digital', link: 'leistungen-digital.html', colorClass: 'bg-blue'} %}{% endembed %}
            </div>

            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {title: 'Design', link: 'leistungen-design.html', colorClass: 'bg-dark-blue'} %}{% endembed %}
            </div>
            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {title: 'Employer Branding', link: 'leistungen-employer-branding.html', colorClass: 'bg-light-green'} %}{% endembed %}
            </div>
            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {title: 'Videos', link: 'leistungen-video.html', colorClass: 'bg-yellow'} %}{% endembed %}
            </div>
            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {title: 'Social Media', link: 'leistungen-socialmedia.html', colorClass: 'bg-light-blue'} %}{% endembed %}
            </div>
        </div>
    </div><!--End Section 3: Reference boxes -->
{% endblock %}
