{% extends './_layouts/default.twig' %}
{% set head_title = 'Leistungen Digital' %}
{% set body_class = '' %}

{% block page %}
    <!-- Section 1: Full width image -->
    <div class="container space-top">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="bg-light-grey text-center">
                    <img src="./img/FID_Post_11_LinkedIn_1080x1080_Karusell_Bild_2.jpg" class="img-fluid mb-3 my-2 my-lg-5">
                </div>
                <span class="topleft-span text-blue-light">Fiduciary Capital</span>
            </div>
        </div>
    </div><!--End Section 1: Full width image -->

    <!-- Section 2: Contact -->
    <div class="container">
        <div class="anchor-scroll text-center">
            <a href="#leistungen-digital-kontakt" class="text-black">
                {% include './components/svg-icon/icon.twig' with {icon: 'arrow-forward', size: 96} %}
            </a>
        </div>
    </div>

    <div id="leistungen-digital-kontakt" class="container container--wider">
        <div class="row">
            <div class="col-12">
                <h1 class="line-behind">Kontakt</h1>
            </div>
        </div>
    </div>

    <div class="container-md px-0">
        <div class="row no-gutters pl-lg-2 pr-lg-2">
            <div class="col-12">
                {% embed './components/contact/contact.twig' with {noBtn: true, multiplyColor: 'blue', img: './img/Philipp_Portrait.jpg'} %}
                    {% block name %}
                        <div class="kontakt__transparent-box kontakt__transparent-box--blue text-36">
                            Phillip Dolejsky
                        </div>
                    {% endblock %}

                    {% block below %}
                        <div class="kontakt__below-box bg-blue">
                            <div class="kontakt__title text-white text-72 m-0">ANSPRECHPARTNER<br>DIGITAL</div>
                            <div class="mt-2 mt-lg-4">
                                <span>{% include './components/svg-icon/icon.twig' with {icon: 'phone', size: 32} %}</span>
                                <span class="text-30 ml-2">089/89 55 66-6958</span>
                            </div>
                            <div class="mt-2 mt-lg-3">
                                <span>{% include './components/svg-icon/icon.twig' with {icon: 'email', size: 32} %}</span>
                                <span class="text-30 ml-2">p.dolejskye@schliesske.de</span>
                            </div>
                            <div class="mt-2 mt-lg-3">
                                <span>{% include './components/svg-icon/icon.twig' with {icon: 'linkedin', size: 32} %}</span>
                                <span class="ml-2">{% include './components/svg-icon/icon.twig' with {icon: 'xing', size: 32} %}</span>
                            </div>
                        </div>
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>
    <!-- End Section 2: Contact -->

    <!-- Section 3: Reference boxes -->
    <div class="container container--wider">
        <div class="row">
            <div class="col-12">
                <h1>UNSERE WEITEREN SCHWERPUNKTE</h1>
            </div>
        </div>
    </div>

    <div class="container-lg mx-auto">
        <div class="row no-gutters px-lg-15px">
            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {colorClass: 'bg-magenta'} %}{% endembed %}
            </div>
            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {title: 'B2B', link: 'leistungen-b2b.html', colorClass: 'bg-brown'} %}{% endembed %}
            </div>
            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {title: 'Campaigning', link: 'leistungen-campaigning.html', colorClass: 'bg-light-orange'} %}{% endembed %}
            </div>
            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {title: 'Digital', link: 'leistungen-digital.html', colorClass: 'bg-blue'} %}{% endembed %}
            </div>

            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {title: 'Design', link: 'leistungen-design.html', colorClass: 'bg-dark-blue'} %}{% endembed %}
            </div>
            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {title: 'Employer Branding', link: 'leistungen-employer-branding.html', colorClass: 'bg-light-green'} %}{% endembed %}
            </div>
            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {title: 'Videos', link: 'leistungen-video.html', colorClass: 'bg-yellow'} %}{% endembed %}
            </div>
            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {title: 'Social Media', link: 'leistungen-socialmedia.html', colorClass: 'bg-light-blue'} %}{% endembed %}
            </div>
        </div>
    </div><!--End Section 3: Reference boxes -->
{% endblock %}
