{% extends './_layouts/default.twig' %}
{% set head_title = 'Leistungen' %}
{% set body_class = '' %}

{% block page %}
    <!-- Section 1: Grid colored boxes -->
    <div class="container-lg mx-auto space-top mb-4 mb-lg-8">
        <div class="row no-gutters px-lg-15px">
            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {colorClass: 'bg-magenta'} %}{% endembed %}
            </div>
            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {title: 'B2B', link: 'leistungen-b2b.html', colorClass: 'bg-brown'} %}{% endembed %}
            </div>
            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {title: 'Campaigning', link: 'leistungen-campaigning.html', colorClass: 'bg-light-orange'} %}{% endembed %}
            </div>
            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {title: 'Digital', link: 'leistungen-digital.html', colorClass: 'bg-blue'} %}{% endembed %}
            </div>

            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {title: 'Design', link: 'leistungen-design.html', colorClass: 'bg-dark-blue'} %}{% endembed %}
            </div>
            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {title: 'Employer Branding', link: 'leistungen-employer-branding.html', colorClass: 'bg-light-green'} %}{% endembed %}
            </div>
            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {title: 'Videos', link: 'leistungen-video.html', colorClass: 'bg-yellow'} %}{% endembed %}
            </div>
            <div class="col-6 col-lg-3">
                {% embed './components/colored-box/colored-box.twig' with {title: 'Social Media', link: 'leistungen-socialmedia.html', colorClass: 'bg-light-blue'} %}{% endembed %}
            </div>
        </div>
    </div><!-- End Section 1: Grid colored boxes -->
{% endblock %}
