{% extends './_layouts/default.twig' %}
{% set head_title = 'News' %}
{% set body_class = '' %}

{% block page %}
    <!-- Section 1: Grid news boxes -->
    <div id="news-section-1" class="container space-top">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-3 mt-md-0 mt-lg-0">
                {% embed './components/news-box/news-box.twig' %}{% endembed %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-3 mt-md-0 mt-lg-0">
                {% embed './components/news-box/news-box.twig' with {img: './img/hubergroupbild.jpg', date: '09_2020', title: 'Huber Group'} %}
                    {% block text %}
                        <span class="font-weight-bold">Obitiunti aut optam expla</span> quiam, odicit dent fuga. Itatem eum es et fugitam que consequ iatur, sim optam comn.
                    {% endblock %}
                {% endembed %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-3 mt-md-0 mt-lg-0">
                {% embed './components/news-box/news-box.twig' with {img: './img/hubergroupbild.jpg', date: '09_2020', title: 'Huber Group'} %}
                    {% block text %}
                        <span class="font-weight-bold">Obitiunti aut optam expla</span> quiam, odicit dent fuga. Itatem eum es et fugitam que consequ iatur, sim optam comn.
                    {% endblock %}
                {% endembed %}
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-3 mt-md-0 mt-lg-5">
                {% embed './components/news-box/news-box.twig' %}{% endembed %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-3 mt-md-0 mt-lg-5">
                {% embed './components/news-box/news-box.twig' with {img: './img/hubergroupbild.jpg', date: '09_2020', title: 'Huber Group'} %}
                    {% block text %}
                        <span class="font-weight-bold">Obitiunti aut optam expla quiam, odicit dent fuga.</span> Itatem eum es et fugitam que
                        consequ iatur, sim optam comnihi llaborem
                        et quam etur sinciis dolores secearupta
                        quam m eum es et fugit.
                    {% endblock %}
                {% endembed %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-3 mt-md-0 mt-lg-5">
                {% embed './components/news-box/news-box.twig' with {img: './img/hubergroupbild.jpg', date: '09_2020', title: 'Huber Group'} %}
                    {% block text %}
                        <span class="font-weight-bold">Obitiunti aut optam expla quiam, odicit dent fuga.</span> Itatem eum es et fugitam que
                        consequ iatur, sim optam comnihi llaborem
                        et quam etur sinciis dolores secearupta
                        quam m eum es et fugit.
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div><!--End Grid news boxes-->
{% endblock %}