{% extends './_layouts/default.twig' %}
{% set head_title = 'News Details' %}
{% set body_class = '' %}
{% set imageSrc = './img/photo-1555617766-c94804975da3.jpeg' %}

{% block page %}
    <!-- Section 1: News article -->
    <div class="row no-gutters space-top row--pad-right pb-2 pb-lg-0">
        <div class="col-12">
            <span class="text-36 text-dark-blue font-weight-light">10_2020&nbsp;|&nbsp;</span><span class="text-36 text-darker-blue font-weight-bold">SHP Steriltechnik</span>
        </div>

        <div class="col-12 my-2 my-lg-5">
            <h3>HIER STEHT EINE HEADLINE ZUR NEWS</h3>
        </div>

        <div class="col-12">
            <p>
                Quiaeribus is sint. Ucit omnimus andeles volendelenis dolupic iistias autat eaquo min nis invelib usciatet quod mi, sitisim volorunt exere se plabor re ex eum, quid et, cus quidignimin eat quid quae. Et volore inum voluptaquodi as soloreperum sum cum liquo omnihil ius veleni il inci tem iumendi orepere ctecearum qui berum illuptas sani uta vendae. Poratem aut dolupta testes utatiore dolupta tentinu llatiisin cum nim site secaborest ent evendendit fugit in pra aribusam eictem. Nam quam con es aut pererunt quunt qui comniet quasper ibuscit quis prehendellit et into id el intem aut aspere, quidem nonsequi consectes ut ex eturit ium ut lab iuris millabo rectissitin et quidestem quam, nusant.
            </p>
            <p>
                bor re ex eum, quid et, cus quidignimin eat quid quae. Et volore inum voluptaquodi as soloreperum sum cum liquo omnihil ius veleni il inci tem iumendi orepere ctecearum qui berum illuptas sani uta vendae. Poratem aut dolupta testes utatiore dolupta tentinu llatiisin cum nim site secaborest ent evendendit fugit in pra aribusam.
            </p>
        </div>

        <div class="col-12 mt-2 mt-lg-4">
            <a href="news.html" class="btn bg-light-orange text-white position-relative font-weight-600 btn--triangle-back"><span class="triangle"></span>ZURÜCK</a>
        </div>
    </div><!--End Section 1: News article -->
{% endblock %}