{% extends './_layouts/default.twig' %}
{% set head_title = 'Referenzen details' %}
{% set body_class = '' %}

{% block page %}
    <!-- Section 1: Full width images -->
    <div id="referenzen-details-section-1" class="container space-top">
        <div class="row no-gutters">
            <div class="col-12">
                <img src="./img/01_Motiv_In_Charge_2000x1125.jpg" alt="" class="img-fluid">
            </div>

            <div class="col-12">
                <img class="img-fluid" src="./img/03_FST_Guidelines_Mockup_2000x1125.jpg" alt="">
            </div>

            <div class="col-12">
                <img class="img-fluid" src="./img/02_Plakat_Ubahn_2000x1125.jpg" alt="">
            </div>

            <div class="col-12">
                <img class="img-fluid" src="./img/03_FST_Guidelines_Mockup_2000x1125.jpg" alt="">
            </div>
        </div>
    </div><!--End Section 1: Full width images -->

    <!--Section 2: Reference boxes slider grid -->
    <div id="referenzen-details-section-2" class="container container--wider">
        <div class="row">
            <div class="col-12">
                <h1 class="line-behind">Mehr REFERENZEN</h1>
            </div>
        </div>
    </div>
    <div class="container mb-2 container--narrow">
        {% embed "./components/slider/slider.twig" with {showArrows: true, fullWidth: true} %}
            {% block settingsAttributes %}
                data-xxl='{"slidesPerView": 3, "spaceBetween": 30, "slidesPerColumn": 2, "slidesPerGroup": 2}'
                data-xl='{"slidesPerView": 3, "spaceBetween": 30, "slidesPerColumn": 2, "slidesPerGroup": 2}'
                data-lg='{"slidesPerView": 3, "spaceBetween": 30, "slidesPerColumn": 2, "slidesPerGroup": 2}'
                data-md='{"slidesPerView": 2, "spaceBetween": 15, "slidesPerColumn": 1, "slidesPerGroup": 1}'
                data-sm='{"slidesPerView": 1, "spaceBetween": 30}'
                data-xs='{"slidesPerView": 1, "spaceBetween": 30}'
            {% endblock %}

            {% block slides %}
                {% for i in 0..2 %}
                    <div class="swiper-slide">
                        {% embed './components/reference-box/reference-box.twig' %}{% endembed %}
                    </div>
                    <div class="swiper-slide">
                        {% embed './components/reference-box/reference-box.twig' with {img: './img/Titelbild_Manifesto_OM.jpg', title: 'OBERPFALZ MEDIEN'} %}{% endembed %}
                    </div>
                    <div class="swiper-slide">
                        {% embed './components/reference-box/reference-box.twig' with {img: './img/leighann-renee-1060275-unsplash.jpg', title: 'Finn Comfort'} %}{% endembed %}
                    </div>
                    <div class="swiper-slide">
                        {% embed './components/reference-box/reference-box.twig' with {img: './img/Black_is_back_Motiv_20_sRGB.jpg', title: 'Playground'} %}{% endembed %}
                    </div>

                    <div class="swiper-slide">
                        {% embed './components/reference-box/reference-box.twig' with {img: './img/Augustinum_Winkler_229_a4_72dpi_sRGB.jpg', title: 'AUGUSTINUM'} %}{% endembed %}
                    </div>
                    <div class="swiper-slide">
                        {% embed './components/reference-box/reference-box.twig' with {img: './img/Freudenberg_Kachelbild.jpg', title: 'FREUDENBERG'} %}{% endembed %}
                    </div>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    </div><!--End Section 2: Reference boxes slider grid -->
{% endblock %}