{% extends './_layouts/default.twig' %}
{% set head_title = 'Referenzen' %}
{% set body_class = '' %}

{% block page %}
    <!-- Section 1: Reference boxes grid -->
    <div id="referenzen-section-1" class="container space-top">
        <div class="row no-gutters">
            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 pt-sm-2 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' %}{% endembed %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 py-md-2 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/Titelbild_Manifesto_OM.jpg', title: 'OBERPFALZ MEDIEN'} %}{% endembed %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 py-md-2 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/leighann-renee-1060275-unsplash.jpg', title: 'Finn Comfort'} %}{% endembed %}
            </div>

            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 py-md-2 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/Black_is_back_Motiv_20_sRGB.jpg', title: 'Playground'} %}{% endembed %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 py-md-2 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/Augustinum_Winkler_229_a4_72dpi_sRGB.jpg', title: 'AUGUSTINUM'} %}{% endembed %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 py-md-2 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/Freudenberg_Kachelbild.jpg', title: 'FREUDENBERG'} %}{% endembed %}
            </div>

            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 py-md-2 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/priscilla-du-preez-ScWwZN0Ax2w-unsplash-cropped.jpg', title: 'KETTENBACH<br>DENTAL'} %}{% endembed %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 py-md-2 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/COVERS_KAPITEL_02_Sustainability.jpg', title: 'SCHIEDEL'} %}{% endembed %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 py-md-2 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/AdobeStock_177874430_600dpi.jpg', title: 'Krempel'} %}{% endembed %}
            </div>

            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 py-md-2 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/Netz6_4c.jpg', title: 'Main 5'} %}{% endembed %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 py-md-2 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/nhhotelsmilan.jpg', title: 'Max Frank'} %}{% endembed %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 py-md-2 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/1012164SWA_b39.jpg', title: 'SCHÖNWALD'} %}{% endembed %}
            </div>

            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 py-md-2 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/iStock-136881514_blauretusche.jpg', title: 'TOP VERMÖGEN'} %}{% endembed %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 py-md-2 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/sincerely-media-Xi5xFjxFVJA-unsplash.jpg', title: 'TIERDIREKT<br>VERSICHERUNG'} %}{% endembed %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 py-md-2 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/AdobeStock_77499968.jpeg', title: 'Health Vision'} %}{% endembed %}
            </div>

            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 py-md-2 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/Referenz_Girke.jpg', title: 'ANNETTE GIRKE'} %}{% endembed %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 py-md-2 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/photo-1474399826575-df32ca9a0cf5.jpeg', title: 'ERLUS'} %}{% endembed %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 py-md-2 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/Referenz_FID.jpg', title: 'FIDUCIARY <br>CAPITAL'} %}{% endembed %}
            </div>

            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 py-md-2 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/_DSC1913_ind_seite26.jpg', title: 'HARTZ REGEHR<br>& PARTNER'} %}{% endembed %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 py-md-2 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/hasenbergl1-216.jpg', title: 'STIFTUNG<br>LICHTBLICK<br>HASENBERGL'} %}{% endembed %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 py-md-2 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/HAC_QS9C1233_4c.jpg', title: 'HACKER PSCHORR'} %}{% endembed %}
            </div>

            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 py-md-2 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/Fotolia_6262958_M.jpg', title: 'TU MÜNCHEN'} %}{% endembed %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 pb-md-4 py-md-2 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/Referenz_Lindner.jpg', title: 'LINDNER'} %}{% endembed %}
            </div>
            <div class="col-12 col-md-6 col-lg-4 p-0 pb-2 pb-md-4 py-md-2 pb-sm-4 px-sm-2 p-lg-3">
                {% embed './components/reference-box/reference-box.twig' with {img: './img/Referenz_Swiss_Life.jpg', title: 'Swiss Life'} %}{% endembed %}
            </div>
        </div>
    </div><!--End Section 1: Reference boxes grid -->
{% endblock %}