{% extends './_layouts/default.twig' %}
{% set head_title = 'Team' %}
{% set body_class = '' %}

{% block page %}
    <!-- Section 1: Image Pyramid -->
    <div class="container-fluid space-top">
        <div class="row">
            <div class="col-12 col-lg-6 text-right">
                <div class="d-inline-block space-top rmt-mobile">
                    <div class="mt-0 mt-lg-4">
                        {% embed './components/pyramid-image/pyramid-image.twig' with {width: 50, title: 'DR. INGRID SCHLIESSKE', img: './img/Ingrid-full.jpg', phone: '+333/333-333', email: 'email@another.rs'} %}{% endembed %}
                    </div>

                    <div class="mt-30px">
                        {% embed './components/pyramid-image/pyramid-image.twig' with {width: 75, title: 'PHILIPP DOLEJSKY', img: './img/Philipp_Portrait.jpg'} %}{% endembed %}
                    </div>

                    <div class="mt-30px">
                        {% embed './components/pyramid-image/pyramid-image.twig' with {width: 90, title: 'LEONIE SCHLIESSKE', img: './img/Leonie_Portrait.jpg'} %}{% endembed %}
                    </div>

                    <div class="mt-30px">
                        {% embed './components/pyramid-image/pyramid-image.twig' with {width: 50, title: 'Sabine Natzeck', img: './img/Sabine.jpg'} %}{% endembed %}
                    </div>

                    <div class="mt-30px">
                        {% embed './components/pyramid-image/pyramid-image.twig' with {width: 90, hideFloater: true, titleRight: true,  title: 'STANDORT ICKING', img: './img/SM770-04.jpg'} %}{% endembed %}
                    </div>

                    <div class="mt-30px">
                        {% embed './components/pyramid-image/pyramid-image.twig' with {width: 75, hideFloater: true,  title: 'STANDORT FRANKFURT', img: './img/2020-11-27.jpg'} %}{% endembed %}
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 text-left mb-2 mb-lg-0">
                <div class="mt-30px">
                    {% embed './components/pyramid-image/pyramid-image.twig' with {width: 60} %}{% endembed %}
                </div>

                <div class="mt-30px">
                    {% embed './components/pyramid-image/pyramid-image.twig' with {width: 90, title: 'DOMINIK LOMMER', img: './img/kompr_IMG_0713-cropped.jpg'} %}{% endembed %}
                </div>

                <div class="mt-30px">
                    {% embed './components/pyramid-image/pyramid-image.twig' with {width: 50, title: 'SOPHIA SCHLIESSKE', img: './img/IMG_0828-cropped.jpg'} %}{% endembed %}
                </div>

                <div class="mt-30px">
                    {% embed './components/pyramid-image/pyramid-image.twig' with {width: 45, title: 'Uli Beck', img: './img/Ulrike_Portrait.jpg'} %}{% endembed %}
                </div>

                <div class="mt-30px">
                    {% embed './components/pyramid-image/pyramid-image.twig' with {width: 70, title: 'STEFANIE HARTRMANN', img: './img/Stefanie.jpg'} %}{% endembed %}
                </div>

                <div class="mt-30px">
                    {% embed './components/pyramid-image/pyramid-image.twig' with {width: 70, hideFloater: true, titleRight: true, title: 'KONFI MÜNCHEN', img: './img/Konfi_Hub.jpg'} %}{% endembed %}
                </div>
            </div>
        </div>
    </div>
    <!--End Section 1: Image Pyramid -->
{% endblock %}