{% if width is not defined %}
    {% set width = 50 %}
{% endif %}

{% if img is not defined %}
    {% set img = './img/_AP27290.jpg' %}
{% endif %}

{% if title is not defined %}
    {% set title = 'THOMAS SCHLIESSKE' %}
{% endif %}

{% if hideFloater is not defined %}
    {% set hideFloater = false %}
{% endif %}

{% if (titleRight is defined and titleRight == true) %}
    {% set titleRightClass = 'pyramid-image__title--right' %}
{% endif %}

<div class="pyramid-image pyramid-image--{{ width }} d-inline-block position-relative">
    <img class="ofc-w-h" src="{{ img }}" alt="">
    <div class="pyramid-image__title {{ titleRightClass }} text-30 text-black font-weight-800 text-uppercase">{{ title }}</div>
    {% if hideFloater == false %}
        {% if (phone is defined and email is defined) %}
            {% embed '../floater/floater.twig' with {absolute: true, phone: phone, email: email} %}{% endembed %}
        {% else %}
            {% embed '../floater/floater.twig' with {absolute: true} %}{% endembed %}
        {% endif %}
    {% endif %}
</div>