.pyramid-image {
  width: 100%;
  height: 300px;

  @include media-breakpoint-up(md) {
    height: 500px;
  }

  @include media-breakpoint-up(lg) {
    &--90 {
      max-width: 90%;
    }
    &--75 {
      max-width: 75%;
    }
    &--70 {
      max-width: 70%;
    }
    &--60 {
      max-width: 60%;
    }
    &--50 {
      max-width: 50%;
    }
    &--45 {
      max-width: 45%;
    }
  }

  &__title {
    position: absolute;
    top: 15px;
    left: 15px;

    &--right {
      left: unset;
      right: 15px;
    }
  }
}