<div class="footer space-top {{ body_class != 'page-home' ? 'rmt-mobile' }}">

    <div class="row no-gutters d-flex align-items-end py-2 pb-lg-2 pt-lg-5">
        <div class="col-12 col-lg-4">
            <div>
                <a href="./" class="text-uppercase line-behind text-white text-36">Home</a>
            </div>
            <div>
                <a href="kontakt.html" class="text-uppercase line-behind text-white text-36">Kontakt</a>
            </div>
            <div>
                <a href="jobs.html" class="text-uppercase line-behind text-white text-36">Jobs</a>
            </div>
            <div>
                <a href="#" class="text-uppercase line-behind text-white text-36">DATENSCHUTZ UND IMPRESSUM</a>
            </div>
        </div>
        <div class="col-12 col-lg-4 my-3 my-lg-0">
            <a href="#" class="text-white">
                {% include '../components/svg-icon/icon.twig' with {icon: 'linkedin', size: 32} %}
            </a>
            <a href="#" class="ml-2 text-white">
                {% include '../components/svg-icon/icon.twig' with {icon: 'facebook', size: 32} %}
            </a>
            <a href="#" class="ml-2 text-white">
                {% include '../components/svg-icon/icon.twig' with {icon: 'pinterest', size: 32} %}
            </a>
            <a href="#" class="ml-2 text-white">
                {% include '../components/svg-icon/icon.twig' with {icon: 'xing', size: 32} %}
            </a>
            <a href="#" class="ml-2 text-white">
                {% include '../components/svg-icon/icon.twig' with {icon: 'youtube', size: 32} %}
            </a>
        </div>
        <div class="col-12 col-lg-4">
            <div>
                <a href="#" class="text-white">
                    {% include '../components/svg-icon/icon.twig' with {icon: 'phone', size: 32} %}
                    <span class="text-30 ml-2">+49 89/89 55 66-0</span>
                </a>
            </div>
            <div class="mt-1">
                <a href="#" class="text-white">
                    {% include '../components/svg-icon/icon.twig' with {icon: 'email', size: 32} %}
                    <span class="text-30 ml-2">info@schliesske.de</span>
                </a>
            </div>
        </div>
    </div>
</div>
