<!-- Floating icon -->
{% embed '../components/floater/floater.twig' %}{% endembed %}
<!-- End Floating icon -->

{% embed '../components/header/header.twig' %}
    {% if head_title == 'Referenzen' %}
        {% set imageSrc = './img/photo-1602312588630-7801386f162d.jpeg' %}

        {% block headerBelow %}
            <div class="navigation__below bg-dark-grey">
                <h1 class="text-white m-0">SCHLIESSKE</h1>
                <h1 class="text-white line-behind m-0">Referenzen</h1>
            </div>
        {% endblock %}
    {% endif %}

    {% if head_title == 'Referenzen details' %}
        {% set imageSrc = './img/GettyImages-181828112.jpg' %}

        {% block headerBelow %}
            <div class="navigation__below bg-dark-grey">
                <h1 class="h2 text-white text-uppercase text-72 font-weight-800 m-0">Freudenberg Sealing<br>Technologies</h1>
                <div class="my-2 my-lg-5 text-white font-weight-600 text-36">Markenrelaunch und Kampagne</div>
                <p class="text-white text-30">
                    IN CHARGE – Der neue Markenkern verdeutlicht den Benchmark von FST als ambitionierten Innovationstreiber und Werkstoffspezialist in allen Marktsegmenten.
                </p>
                <div class="mt-2 mt-lg-5">
                    <a href="#" class="btn bg-light-orange text-white position-relative font-weight-600 btn--triangle-forward"><span class="triangle"></span>WEITERLESEN</a>
                </div>
            </div>
        {% endblock %}
    {% endif %}

    {% if head_title == 'Leistungen' %}
        {% set imageSrc = './img/scott-webb-FChJHRgqp9U-unsplash.jpg' %}

        {% block headerBelow %}
            <div class="navigation__below bg-dark-grey">
                <h1 class="text-white m-0">SCHLIESSKE</h1>
                <div class="h1 line-behind m-0">Leistungen</div>
            </div>
        {% endblock %}
    {% endif %}

    {% if head_title == 'Leistungen Branding' %}
        {% set imageSrc = './img/ferran-feixas-rIuZXFWU8_o-unsplash.jpg' %}

        {% block headerBelow %}
            <div class="navigation__below bg-magenta">
                <h1 class="m-0 text-white">SCHLIESSKE</h1>
                <div class="h1 line-behind m-0">Branding</div>

                <p class="text-30 mt-2 mt-lg-4">
                    Gemeinsam mit Ihnen ergründen wir in Marken-Workshops die DNA Ihres Unternehmens und
                    positionieren es randscharf im Wettbewerbsumfeld. Wir entwickeln starke Corporate Designs – vom Logo bis zum Webauftritt.
                </p>
            </div>
        {% endblock %}
    {% endif %}

    {% if head_title == 'Leistungen Campaigning' %}
        {% set imageSrc = './img/hugo-jehanne-LOHVrTsdvzY-unsplash1.jpg' %}

        {% block headerBelow %}
            <div class="navigation__below bg-orange">
                <h1 class="m-0 text-white">SCHLIESSKE</h1>
                <div class="h1 line-behind m-0">Campaigning</div>

                <p class="text-30 mt-2 mt-lg-4">
                    Mit kreativen Ideen und smarten Kampagnen verpassen wir Ihrer Company, Ihren Produkten oder Dienstleistungen die nötige Awareness. Und bringen Sie ganz nach vorne im Relevant Set Ihrer Zielgruppen.
                </p>
            </div>
        {% endblock %}
    {% endif %}

    {% if head_title == 'Leistungen Socialmedia' %}
        {% set imageSrc = './img/daria-nepriakhina-gGoi4QTXXBA-unsplash_sw.jpg' %}

        {% block headerBelow %}
            <div class="navigation__below bg-light-blue">
                <h1 class="m-0 text-white">SCHLIESSKE</h1>
                <div class="h1 line-behind m-0">Socialmedia</div>

                <p class="text-30 mt-2 mt-lg-4">
                    Wir übersetzen Ihre Botschaften in Sprache und Tempo der Social Formate. Wir kennen alle nötigen Instrumente, damit Ihr Content zielgerichtet die richtigen Leute erreicht.
                </p>
            </div>
        {% endblock %}
    {% endif %}

    {% if head_title == 'Leistungen Digital' %}
        {% set imageSrc = './img/florian-klauer-mk7D-4UCfmg-unsplash.jpg' %}

        {% block headerBelow %}
            <div class="navigation__below bg-blue">
                <h1 class="m-0 text-white">SCHLIESSKE</h1>
                <div class="h1 line-behind m-0">Digital</div>

                <p class="text-30 mt-2 mt-lg-4">
                    Wir passen Ihren Auftritt den Gesetzen und der Temperatur der digitalen Medien an. Wir stärken ihr digitales Profil und harmonisieren Ihre digitale Performance feinfühlig mit der gewachsenen Identität Ihrer Marke und Ihrer analogen Präsenz.
                </p>
            </div>
        {% endblock %}
    {% endif %}

    {% if head_title == 'Leistungen Design' %}
        {% set imageSrc = './img/carlos-quintero-7mINv5udhe8-unsplash.jpg' %}

        {% block headerBelow %}
            <div class="navigation__below bg-dark-blue">
                <h1 class="m-0 text-white">SCHLIESSKE</h1>
                <div class="h1 line-behind m-0">Design</div>

                <p class="text-30 mt-2 mt-lg-4">
                    Tam nonsimis nes! Serusquam nonsu sulabus ac opubliam quitastra, con depse hos morbis. Terbit.
                    Ego non telierf enitimmor actus, corum forum perviverim abus, sides Catiuscioc, Patilica L. Mare capernum omnostr aedientem la reo, etiam ta vere nosu
                </p>
            </div>
        {% endblock %}
    {% endif %}

    {% if head_title == 'Leistungen B2B' %}
        {% set imageSrc = './img/sander-weeteling-SjT4R30b_Xk-unsplash.jpg' %}

        {% block headerBelow %}
            <div class="navigation__below bg-brown">
                <h1 class="m-0 text-white">SCHLIESSKE</h1>
                <h1 class="text-white line-behind m-0">B2B</h1>

                <p class="text-white text-30 mt-2 mt-lg-4">
                    Tam nonsimis nes! Serusquam nonsu sulabus ac opubliam quitastra, con depse hos morbis. Terbit.
                    Ego non telierf enitimmor actus, corum forum perviverim abus, sides Catiuscioc, Patilica L. Mare capernum omnostr aedientem la reo, etiam ta vere nosu
                </p>
            </div>
        {% endblock %}
    {% endif %}

    {% if head_title == 'Leistungen Video' %}
        {% set imageSrc = './img/sukhveer-hans-Ic-2nX2RCLg-unsplash.jpg' %}

        {% block headerBelow %}
            <div class="navigation__below bg-yellow">
                <h1 class="m-0">SCHLIESSKE</h1>
                <div class="h1 line-behind m-0">Video</div>

                <p class="text-30 mt-2 mt-lg-4">
                    Tam nonsimis nes! Serusquam nonsu sulabus ac opubliam quitastra, con depse hos morbis. Terbit.
                    Ego non telierf enitimmor actus, corum forum perviverim abus, sides Catiuscioc, Patilica L. Mare capernum omnostr aedientem la reo, etiam ta vere nosu
                </p>
            </div>
        {% endblock %}
    {% endif %}

    {% if head_title == 'Leistungen Employer Branding' %}
        {% set imageSrc = './img/alex-iby-NAtR6-ck7As-unsplash.jpg' %}

        {% block headerBelow %}
            <div class="navigation__below bg-light-green">
                <h1 class="m-0 text-white">SCHLIESSKE</h1>
                <div class="h1 line-behind m-0">Employer<br>Branding</div>

                <p class="text-30 mt-2 mt-lg-4">
                    Tam nonsimis nes! Serusquam nonsu sulabus ac opubliam quitastra, con depse hos morbis. Terbit.
                    Ego non telierf enitimmor actus, corum.
                </p>
            </div>
        {% endblock %}
    {% endif %}

    {% if head_title == 'Agency' %}
        {% set imageSrc = './img/katarzyna-urbanek-b1SrG5pSC0w-unsplash.jpg' %}

        {% block headerBelow %}
            <div class="navigation__below bg-black-on-white">
                <h1 class="m-0 text-white">SCHLIESSKE</h1>
                <div class="h1 line-behind m-0">Marken<br>Agentur</div>
            </div>
        {% endblock %}
    {% endif %}

    {% if head_title == 'Interview' %}
        {% set imageSrc = './img/DSC_0085.jpg' %}

        {% block headerBelow %}
            <div class="navigation__below bg-black-on-white">
                <h1 class="m-0">SCHLIESSKE</h1>
                <div class="h1 line-behind m-0">Interview</div>
            </div>
        {% endblock %}
    {% endif %}

    {% if head_title == 'How We Work' %}
        {% set imageSrc = './img/KV_Pfirsich.jpg' %}

        {% block headerBelow %}
            <div class="navigation__below bg-black-on-white">
                <h1 class="m-0 text-white">SCHLIESSKE</h1>
                <div class="h1 line-behind m-0">Wie Wir<br>Arbeiten</div>

                <p class="text-30 mt-2 mt-lg-4">
                    Marke entsteht nicht durch ein Image, das durch Kommunikationsmaßnahmen von außen geschaffen wird – der Schliesske Markenbaukasten.
                </p>
            </div>
        {% endblock %}
    {% endif %}

    {% if head_title == 'Team' %}
        {% set imageSrc = './img/quino-al-ce79TRf3Fyw-unsplash.jpg' %}

        {% block headerBelow %}
            <div class="navigation__below bg-black-on-white">
                <h1 class="m-0 text-white">SCHLIESSKE</h1>
                <div class="h1 line-behind m-0">Team</div>

                <p class="text-30 mt-2 mt-lg-4">
                    Tam nonsimis nes! Serusquam nonsu sulabus ac opubliam quitastra, con depse hos morbis. Terbit.
                    Ego non telierf enitimmor actus, corum fo.
                </p>
            </div>
        {% endblock %}
    {% endif %}

    {% if head_title == 'Jobs' %}
        {% set imageSrc = './img/photo-1476231790875-016a80c274f3-cropped.jpeg' %}

        {% block headerBelow %}
            <div class="navigation__below bg-black-on-white">
                <h1 class="m-0 text-white">SCHLIESSKE</h1>
                <div class="h1 line-behind m-0">Jobs</div>
            </div>
        {% endblock %}
    {% endif %}

    {% if head_title == 'Kontakt' %}
        {% set imageSrc = './img/photo-1523966211575-eb4a01e7dd51.jpeg' %}

        {% block headerBelow %}
            <div class="navigation__below bg-black-on-white">
                <h1 class="m-0 text-white">SCHLIESSKE</h1>
                <div class="h1 line-behind m-0">Kontakt</div>
            </div>
        {% endblock %}
    {% endif %}
{% endembed %}
