.colored-box {
  $p: &;

  @extend .d-flex, .flex-wrap;

  height: 100%;
  transition: all .5s;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  &:hover {
    cursor: pointer;

    & #{$p}__x {
      transform: scale(1.5);
    }
  }

  $darkness_m: 10;

  &:hover.bg-magenta {
    background-color: darken($magenta, $darkness_m) !important;
  }
  &:hover.bg-brown {
    background-color: darken($brown, $darkness_m) !important;
  }
  &:hover.bg-light-orange {
    background-color: darken($orange-light, $darkness_m) !important;
  }
  &:hover.bg-blue {
    background-color: darken($blue, $darkness_m) !important;
  }
  &:hover.bg-dark-blue {
    background-color: darken($blue-dark, $darkness_m) !important;
  }
  &:hover.bg-light-green {
    background-color: darken($green-light, $darkness_m) !important;
  }
  &:hover.bg-yellow {
    background-color: darken($yellow, $darkness_m) !important;
  }
  &:hover.bg-light-blue {
    background-color: darken($blue-light, $darkness_m) !important;
  }

  &__inner {
    @extend .d-flex, .flex-column, .flex-wrap, .justify-content-between, .flex-grow-1;
    padding: 10px;
    max-width: 100%;

    @include media-breakpoint-up(xl) {
      padding: 40px 20px 20px 20px;
    }
  }

  &__svg {
    width: 100%;
  }

  &__title {
    @extend .text-white, .text-uppercase, .font-weight-800;
    word-break: break-word;

    @include unitize(font-size, 34 * $scale_down);

    @include media-breakpoint-up(md) {
      @include unitize(font-size, 60 * $scale_down);
    }

    @include media-breakpoint-up(lg) {
      @include unitize(font-size, 64 * $scale_down);
    }
  }

  &--color-red {
    background-color: red;
  }

  &__x {
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    line-height: 1;
    font-size: 30px;
    color: $white;
    font-weight: 700;
    align-self: flex-end;
    @include media-breakpoint-up(sm) {
      font-size: 43px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 86px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 92px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
