{% if title is not defined %}
    {% set title = 'Branding' %}
{% endif %}

{% if colorClass is not defined %}
    {% set colorClass = 'colored-box--color-red' %}
{% endif %}

{% if link is not defined %}
    {% set link = 'leistungen-branding.html' %}
{% endif %}

<a class="text-decoration-none" href="{{ link }}">
    <div class="colored-box {{ colorClass }}">
        <div class="colored-box__inner">
            <div class="colored-box__title line-height-1">
                {{ title }}
            </div>
            <div class="colored-box__x text-110 line-height-1">+</div>
        </div>
    </div>
</a>