{% if classHeader is not defined %}
    {% set classHeader = 'container-lg mx-auto ofc-w-h p-0' %}
{% endif %}

{% if headerSlider is not defined %}
    {% set headerSlider = false %}
    {% set classHeader = '' %}
{% endif %}

{% if arrowColor is not defined %}
    {% set arrowColor = 'text-black' %}
{% endif %}

{#Do we really need this now that Swiper is update and working?#}
{% set fullWidthClass = '' %}
{% if fullWidth is defined and fullWidth == true %}
    {% set fullWidthClass = ' w-100' %}
{% endif %}

<div class="swiper-parent position-relative {{ classHeader }}">
    <div class="{{ fullWidthClass }}" data-slider="true"
            {% block settingsAttributes %}
                data-xxl='{"slidesPerView": 1, "spaceBetween": 0}'
                data-xl='{"slidesPerView": 1, "spaceBetween": 0}'
                data-lg='{"slidesPerView": 1, "spaceBetween": 0}'
                data-md='{"slidesPerView": 1, "spaceBetween": 0}'
                data-sm='{"slidesPerView": 1, "spaceBetween": 0}'
                data-xs='{"slidesPerView": 1, "spaceBetween": 0}'
            {% endblock %}>

        <div class="swiper-container" data-controller="swiper/slider">
            <div class="swiper-wrapper" data-controller="swiper/slider/wrapper">
                {% block slides %}
                    {% for i in 0..10 %}
                        <div class="swiper-slide">
                            <img src="https://via.placeholder.com/1920x490.png?text=Visit+WhoIsHostingThis.com+Buyers+Guide
    C/O https://placeholder.com/#How_To_Use_Our_Placeholders" class="img-fluid swiper-lazy card-img-top"/>
                        </div>
                    {% endfor %}
                {% endblock %}
            </div>

            {% if dotsOutside is defined and dotsOutside == true %}
                <div class="swiper-pagination"></div>
            {% endif %}
        </div>

        {% if showArrows is defined and showArrows == true %}
            {% set c = '' %}
            {% if headerSlider %}
                {% set c = 'swiper-button--inside' %}
            {% endif %}
            <div data-controller="slider/nav/prev" class="swiper-button-prev {{ c }} {{ arrowColor }}">{% include '../svg-icon/icon.twig' with {icon: 'arrow-forward', size: 96} %}</div>
            <div data-controller="slider/nav/next" class="swiper-button-next {{ c }} {{ arrowColor }}">{% include '../svg-icon/icon.twig' with {icon: 'arrow-forward', size: 96} %}</div>
        {% endif %}
    </div>
</div>